@import "../partials/taxonomies.scss";

.top-head {
  background-color: $color-primary;
  height: 57px;
  @media screen and (max-width: 575px){
    height: 55px;
  }
  .bg_img {
    background: url(../../img/Bg1-1.svg) center no-repeat;
    width: 99%;
    height: 57px;
    position: absolute;
    background-size: cover;
  }

  .logo {
    display: flex;
    margin:3px 0;
    background: url(../../img/Logo1.svg) center no-repeat;
    background-size: contain;
    height: 50px;
    flex-basis: 100%;
  }
  .support_and_sale {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
    height: 57px;
    @media screen and (max-width: 769px){
      flex-direction: column;
      height: 50px;
      top: 10%;
      right: 3%;
      z-index: 2;
    }
    span {
      @include font(20px, $font-color-2, 400, $font-thin);
      a {
        @include font(20px, $font-color-2, 400, $font-regular);
        @media screen and (max-width: 769px) {
          font-size: 17px;
        }
      }
      @media screen and (max-width: 769px) {
        font-size: 17px;
      }
    }
    @media screen and (max-width: 1199px){
          justify-content: space-between;
      }
  }

  .login_and_liveChat {
    display: flex;
    justify-content: space-between;
    height: 57px;
    @include font(22px, $font-color-1, 400, $font-regular);
    text-transform: uppercase;
    .login {
      a {
        @include font(22px, $font-color-1, 400, $font-regular);
        text-decoration: none;
      }
      &::after {
        content: "";
        display: inline-block;
        margin-left: 10px;
        width: 41px;
        height: 25px;
        background: url(../../img/Login.svg) no-repeat;
        margin-bottom: -1.1%;
      }
      &:hover {
        color: $font-color-3;
        &::after {
          background: url(../../img/Login2.svg) no-repeat;
        }
      }
    }

    .liveChat {
      a {
        @include font(22px, $font-color-1, 400, $font-regular);
        text-decoration: none;
      }
      &::after {
        content: "";
        display: inline-block;
        margin-left: 10px;
        width: 51px;
        height: 30px;
        background: url(../../img/Chat.svg) no-repeat;
        background-size: contain;
        margin-bottom: -5%;
      }
      &:hover {
        color: $font-color-3;
        &::after {
          background: url(../../img/Chat2.svg) no-repeat;
        }
      }
    }
  }
}

.down-head {
  background-color: $color-secondary;
  height: 40px;
  position: relative;
  z-index: 1;
  box-shadow: 2px 4px 7px #95aeb6;
  @media screen and (max-width: 1199px){
    height: 50px;
    line-height: 50px;
  }

  #menuToggle
  {
    display: block;
    position: relative;
    top: 15px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    @media screen and (max-width: 769px) {
      top: -37px;
      left: 3000%;
    }
    @media screen and (max-width: 575px){
      left: 90%;
    }
    a {
      text-decoration: none;
      @include font(22px, $font-color-1, 400, $font-regular);
      transition: color 0.3s ease;
      &:hover{
        color:  $font-color-6;
      }
    }
    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $color-third-1;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;
    }
    span:first-child {
      transform-origin: 0% 0%;
    }
    span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: $color-third-1;
    }
    input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    input:checked ~ ul {
      transform: none;
    }
  }

  #menu
  {
    position: absolute;
    width: 500px;
    margin: -100px 0 0 -130px;
    padding: 125px 100px 50px 125px;
    background: $color-secondary;
    list-style-type: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    @media screen and (max-width: 769px){
      margin: -100px 0 0 -250px;
      padding: 100px 50px 0px 50px;
      text-align: center;
    }
    @media screen and (max-width: 580px){
      margin: -100px 0 0 -350px;
    }
    li {
      padding: 10px 0;
    }
  }

  .login,.liveChat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 1.1px;
    flex-basis: 100%;
    line-height: 50px;
    a {
      @include font(22px, $font-color-1, 400, $font-regular);
      text-decoration: none;
    }
    text-transform: uppercase;
  }

  .login {
    &::after {
      content: "";
      display: inline-block;
      margin-left: 10px;
      margin-top: 12px;
      width: 41px;
      height: 25px;
      background: url(../../img/Login.svg) no-repeat;
    }
    &:hover {
      background-color: $color-third-6;
    }
  }

  .liveChat {
    &::after {
      content: "";
      display: inline-block;
      margin-left: 10px;
      margin-top: 10px;
      width: 51px;
      height: 30px;
      background: url(../../img/Chat.svg) no-repeat;
      background-size: contain;
    }
    &:hover {
      background-color: $color-third-6;
    }
  }

  .main_menu {
    .main_menu_items {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      padding: 0;
      margin-top: 17px;
      .main_menu_item {
        display: inline-block;
        text-align: center;
        line-height: 0.2;
        a {
          position: relative;
          @include font(20px, $font-color-1, 400, $font-regular);
          text-transform: uppercase;
          padding: 7px 0 7px 15px;
          &::after {
            content: "I";
            padding-left: 18px;
            color: $font-color-1;
          }
          &:hover {
            background-color: $color-btn-2-hover;
            text-decoration: none;
            &::after {
              content: "I";
              color: transparent;
            }
            &::before{
              content: '';
              position: absolute;
              z-index:1;
            }
          }
        }
      }
      .main_menu_item:last-child {
        a {
          &::after {
            content: "";
            padding-left: 15px;
          }
        }
      }
    }
  }

}

