@import "../partials/fonts";

.main_content {
  .head {
    background: url(../../img/Layer-gray.svg) center no-repeat;
    height: 600px;
    width: 100%;
    @media screen and (max-width: 769px) {
      background-color: $color-primary-1;
      height: 560px;
    }
    .bg_girl {
      background: url(../../img/Layer-girl.svg) center no-repeat;
      width: 98.8%;
      height: 600px;
      position: absolute;
      @media screen and (max-width: 769px) {
        background:none;
      }
    }
    .logo {
      display: flex;
      margin: 32px 0 30px 0;
      background: url(../../img/Logo.svg) center no-repeat;
      background-size: contain;
      height: 82px;
      flex-basis: 92%;
    }
    .main_title {
      display: flex;
      flex-basis: 92%;
      background-color: $font-color-2;
      justify-content: center;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
      padding: 0 50px 0 35px;
      margin: 0;
      height: 64px;
      @include font(32px, $font-color-3, 700, $font-bold);
      line-height: 64px;
      @media screen and (max-width: 1199px) {
        flex-basis: 100%;
        padding: 0 0 0 20px;
      }
      @media screen and (max-width: 769px) {
        font-size: 24px;
        margin-top: 20px;
        height: 57px;
        line-height: 24px;
        align-items: center;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -30px;
        left: 15px;
        border-style: solid;
        border-width: 45px 55px 0px 0px;
        border-color: #caddea transparent transparent transparent;
        @media screen and (max-width: 769px) {
          border-width: 35px 45px 0px 0px;
        }
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 33px;
        bottom: -30px;
        box-shadow: 4px 4px 6px #9bb6be;
        width: 4px;
        height: 44px;
        transform: rotate(50deg);
      }
    }

    .offer {
      display: flex;
      flex-basis: 100%;
      margin-top: 47px;
      flex-direction: column;
      .offer_title {
        padding-left: 66px;
        margin: 0;
      }
      .offer_items {
        padding-left: 60px;
        margin: 0;
        .offer_item {
          color: $font-color-3;
          line-height: 33px;
          span {
            @include font(18px, $font-color-4, 400, $font-arial);
          }
        }
      }
    }

    .group_of_btns {
      display: flex;
      flex-basis: 90%;
      justify-content: space-between;
      margin-top: 14px;
      margin-left: 50px;
    }
  }

  .get_a_price {
    position: relative;
    background-color: $color-third;
    height: 291px;
    padding-top: 26px;
    z-index: 1;
    .bg_img {
      background: url(../../img/Bg2.svg) center no-repeat;
      width: 99%;
      height: 291px;
      position: absolute;
      background-size: cover;
      top: 0;
    }

    .line_1 {
      margin-bottom: 33px;
      .title_plus_percent {
        display: flex;
        flex-basis: 100%;
        background-color: $font-color-2;
        justify-content: space-between;
        box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
        padding: 0 21px;
        margin: 0;
        height: 49px;
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -17px;
          left: 15px;
          border-style: solid;
          border-width: 22px 27px 0px 0px;
          border-color: #caddea transparent transparent transparent;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 25px;
          bottom: -19px;
          box-shadow: 2px 4px 7px rgba(2, 68, 121, .75);
          width: 4px;
          height: 27px;
          transform: rotate(50deg);
        }
        h2 {
          line-height: 49px;
        }
        .percent_part {
          text-transform: uppercase;
          .red_number {
            @include font(50px, $font-color-7, 700, $font-bold);
            letter-spacing: -2.42px;
            position: relative;
            bottom: 26%;
            &::before {
              content: '';
              display: inline-block;
              position: relative;
              bottom: -10%;
              width: 22px;
              height: 49px;
              margin-right: 19px;
              background: url(../../img/arroiw.svg) left no-repeat;
            }
          }
          .red_text {
            @include font(37px, $font-color-7, 400, $font-regular);
            padding: 0 10px;
            position: relative;
            bottom: 25%;
          }
          .text {
            position: relative;
            bottom: 35%;
            @include font(22px, $color-third, 400, $font-regular);
          }
        }

      }
    }

    .line_2 {
      margin-bottom: 15px;
    }

    .line_3 {
      .default_form {
        .text_items {
          display: flex;
          flex-basis: 33.33%;
          justify-content: space-between;
          text-transform: uppercase;
          padding: 5px 15px;
          line-height: 48px;
          @media screen and (max-width: 1199px) {
            padding: 5px 0;
          }
          .text_item1 {
            @include font(16px, $font-color-1, 400, $font-regular);
            padding-top: 30px;
          }
          .text_item2 {
            @include font(48px, $font-color-1, 400, $font-regular);
            padding-top: 17px;
            .text_item3 {
              font-size: 27px;
              padding: 0 10px;
            }
          }
        }

      }
    }
  }

  .time-consuming {
    position: relative;
    background-color: $color-primary-1;
    height: 880px;
    @media screen and (max-width: 1199px) {
      height: 1265px;
    }
    .bg_img {
      background: url(../../img/Bg3top.svg) center no-repeat;
      width: 99%;
      height: 590px;
      position: absolute;
      background-size: contain;
      left: 0;
      top: -270px;
      z-index: 0;
    }

    .main_title {
      display: flex;
      @include font(28px, $font-color-3, 700, $font-bold);
      flex-basis: 92%;
      background-color: $font-color-2;
      justify-content: center;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
      margin-top: 40px;
      height: 54px;
      line-height: 54px;
      @media screen and (max-width: 1199px){
          @include font(28px,$font-color-3,300,$font-bold);
        }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 15px;
        border-style: solid;
        border-width: 24px 24px 0 0;
        border-color: #caddea transparent transparent transparent;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 26px;
        bottom: -13px;
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
        width: 4px;
        height: 28px;
        transform: rotate(50deg);
      }
    }

    .text {
      text-align: justify;
      margin: 30px 0;
      @include font(18px, $font-color-4, 400, $font-arial);
      @media screen and (max-width: 1199px) {
        margin: 15px 0;
      }
    }

    .part {
      display: flex;
      position: relative;
      height: 560px;
      flex-basis: 100%;
      flex-direction: column;
      @include font(16px, $font-color-4, 400, $font-arial);
      @media screen and (max-width: 1199px) {
        height: 480px;
        margin-bottom: 20px;
      }
      .block {
        height: 500px;
        @media screen and (max-width: 1199px) {
          height: 430px;
        }
        .standards, .for_students, .partner, .solution {
          position: relative;
          width: 110px;
          height: 110px;
          background-size: cover;
          margin: 0 auto 36px;
          @media screen and (max-width: 1199px) {
            margin: 0 auto 21px;
          }
        }
        .standards {
          background: url(../../img/Element1.svg) center no-repeat;
        }
        .for_students {
          background: url(../../img/Element2.svg) center no-repeat;
        }
        .partner {
          background: url(../../img/Element3.svg) center no-repeat;
        }
        .solution {
          background: url(../../img/Element4.svg) center no-repeat;
        }
        .title {
          text-align: center;
          padding-bottom: 20px;
          @include font(18px,$font-color-3,400,$font-medium);
          @media screen and (max-width: 1199px) {
            padding-bottom: 10px;
          }
          margin: 0;
        }
        .text {
          margin: 0;
          max-height: 200px;
          overflow: hidden;
        }
        .text_items {
          max-height: 95px;
          overflow: hidden;
          margin: 5px 0 0 0;
          padding-left: 17px;
          line-height: 19px;
          @media screen and (max-width: 1199px) {
            padding-bottom: 10px;
            height: 570px;
          }
        }
      }
      &:hover {
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
        background-color: $color-third-1;
        height: 570px;
        width: 280px;
        padding: 10px;
        @media screen and (max-width: 1199px) {
          width: 100%;
          height: 450px;
        }
        .standards {
          background: url(../../img/Element1_dark.svg) center no-repeat;
        }
        .for_students {
          background: url(../../img/Element2_dark.svg) center no-repeat;
        }
        .partner {
          background: url(../../img/Element3_dark.svg) center no-repeat;
        }
        .solution {
          background: url(../../img/Element4_dark.svg) center no-repeat;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -25px;
          left: 0px;
          border-style: solid;
          border-width: 30px 40px 0 0;
          border-color: $color-third-1 transparent transparent transparent;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 14px;
          bottom: -25px;
          box-shadow: 4px 4px 6px #9bb6be;
          width: 4px;
          height: 35px;
          transform: rotate(50deg);
        }
      }
    }
  }

  .why-order {
    position: relative;
    background-color: $color-secondary;
    height: 560px;
    @media screen and (max-width: 1199px) {
      height: 735px;
    }
    .bg_img {
      background: url(../../img/Bg2.svg) center no-repeat;
      width: 99%;
      height: 560px;
      position: absolute;
      background-size: contain;
      left: 0;
    }

    .main_title {
      display: flex;
      flex-basis: 100%;
      background-color: $font-color-2;
      justify-content: center;
      box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
      margin-top: 40px;
      height: 54px;
      line-height: 54px;
      @include font(28px,$font-color-3,400,$font-bold);
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 15px;
        border-style: solid;
        border-width: 24px 24px 0 0;
        border-color: #caddea transparent transparent transparent;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 24px;
        bottom: -14px;
        box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
        width: 4px;
        height: 26px;
        transform: rotate(50deg);
      }
    }

    .sub_title {
      @include font(24px, $font-color-1, 400, $font-arial);
      padding-top: 10px;
      text-align: center;
      line-height: 26px;
    }
    .block {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      padding: 27px 0 18px 0;
      border-bottom: 2px solid $color-third-1;
      .number {
        display: inline-block;
        text-align: center;
        line-height: 30px;
        @include font(25px, $font-color-3, 700, $font-regular);
        height: 30px;
        width: 30px;
        background-color: $color-third-1;
        border-radius: 50%;
        margin-bottom: 18px;
      }
      .text {
        @include font(22px, $font-color-1, 400, $font-arial);
        line-height: 26px;
        text-align: left;
      }
    }
  }

  .how-it-works {
    position: relative;
    background-color: $color-primary-1;
    height: 720px;

    .bg_img {
      background: url(../../img/Bg3bot.svg) center no-repeat;
      width: 100%;
      height: 590px;
      position: absolute;
      background-size: contain;
      overflow: hidden;
      left: 0;
      top: 475px;
      z-index: 0;
    }

    .main_title {
      display: flex;
      flex-basis: 92%;
      background-color: $font-color-2;
      justify-content: center;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
      margin-top: 52px;
      height: 54px;
      line-height: 54px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 15px;
        border-style: solid;
        border-width: 24px 24px 0 0;
        border-color: #caddea transparent transparent transparent;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 24px;
        bottom: -14px;
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
        width: 4px;
        height: 26px;
        transform: rotate(50deg);
      }
    }

    .menu_items {
      display: flex;
      justify-content: left;
      flex-direction: column;
      padding: 0;
      margin: 50px 0 0 0;
      background-color: $color-primary-1;
      position: relative;
      flex-basis: 100%;

      .menu_item1, .menu_item2, .menu_item3, .menu_item4, .menu_item5, .menu_item6 {
        display: flex;
        justify-content: left;
        padding: 0;

        .title {
          display: flex;
          flex-direction: row;
          width: 60%;
          border-bottom: 2px solid $color-third-6;
          line-height: 67px;
          a {
            text-decoration: none;
            margin: auto 0;
            h4 {
              font-size: 20px;
            }
          }
          &::before {
            display: inline-block;
            @include font(60px, $font-color-2, 700, $font-rajdhani-bold);
            content: ' ';
            text-transform: uppercase;
            width: 5%;
            position: relative;
            margin: 0 17px 0 26px;
            line-height: 67px;
          }
          &:hover {
            background-color: $color-third;
            &::after {
              content: '';
              z-index: 1;
              width: 0;
              height: 0;
              border-top: 34px solid transparent;
              border-bottom: 34px solid transparent;
              border-left: 25px solid $color-third;
              position: absolute;
              right: 37.8%;
              bot: 0;
            }
            + .content {
              display: inline-block;
              .bg_img {
                background: url(../../img/Works1.svg) center no-repeat;
              }
            }
          }
        }

        .content {
          display: none;
          position: absolute;
          width: 40%;
          height: 415px;
          box-shadow: 6px 4px 7px rgba(167, 192, 200, 0.75);
          background-color: $color-third-1;
          padding: 58px 45px 72px 45px;
          top: 10px;
          right: 0;
          z-index: 0;
          .bg_img1, .bg_img2, .bg_img3, .bg_img4, .bg_img5, .bg_img6 {
            position: relative;
            width: 110px;
            height: 110px;
            background-size: cover;
            margin: 0 auto 40px;
            background: url(../../img/Works1.svg) center no-repeat;
          }
          .bg_img2 {
            background: url(../../img/Works2.svg) center no-repeat;
          }
          .bg_img3 {
            background: url(../../img/Works3.svg) center no-repeat;
          }
          .bg_img4 {
            background: url(../../img/Works4.svg) center no-repeat;
          }
          .bg_img5 {
            background: url(../../img/Works5.svg) center no-repeat;
          }
          .bg_img6 {
            background: url(../../img/Works6.svg) center no-repeat;
          }
          .text {
            @include font(18px, $font-color-4, 400, $font-arial);
            line-height: 30px;
            text-align: justify;
          }
        }
      }

      .menu_item1 {
        .title::before {
          content: '1';
          margin: 0 23px 0 30px;
        }
      }
      .menu_item2 {
        .title::before {
          content: '2';
        }
      }
      .menu_item3 {
        .title::before {
          content: '3';
        }
      }
      .menu_item4 {
        .title::before {
          content: '4';
        }
      }
      .menu_item5 {
        .title::before {
          content: '5';
        }
      }
      .menu_item6 {
        .title::before {
          content: '6';
        }
      }
    }

    .position {
      display: flex;
      margin: 20px;
      justify-content: space-around;
    }
  }

  .cards_plus_socials_bg {
    background-color: $color-third-6;
    height: 70px;
    z-index: 1;
    position: relative;
    .cards_and_social {
      display: flex;
      justify-content: space-between;
      a {
        padding-top: 10px;
        .debit_cards {
          display: inline-block;
          background: url(../../img/Debit_Dark.svg) left no-repeat;
          width: 610px;
          height: 50px;
          line-height: 70px;
        }
      }
      .social {
        display: inline-block;
        margin-top: 5px;
        .socialFace, .socialTwit, .socialPint {
          position: relative;
          display: inline-block;
          text-align: center;
          height: 60px;
          width: 60px;
          &::after {
            @include font(40px, $font-color-1, 400, $font-awesome);
            content: '';
            position: absolute;
            left: 10px;
            bottom: -10px;
            line-height: 70px;
            color: $font-color-3;
            transition: all 0.3s ease;
          }
          &:hover {
            border: 4px solid $font-color-1;
            border-radius: 50%;
            background-color: $color-secondary;
            &::after {
              color: $font-color-6;
            }
          }
        }
        .socialFace {
          &::after {
            left: 15px;
            content: '\f09a';
          }
        }
        .socialTwit::after {
          content: '\f099';
        }
        .socialPint::after {
          left: 15px;
          content: '\f231';
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



