.main_content {
  .container-fluid {
    @media screen and (max-width: 769px) {
      padding: 0;
    }
  }
  .head {
    background: url(../img/Layer-gray.svg) center no-repeat;
    height: 600px;
    width: 100%;
    background-size: cover;
    z-index: 1;
    @media screen and (max-width: 769px) {
      background-color: $color-primary-1;
      height: 560px;
    }
    .bg_girl {
      background: url(../img/Layer-girl.svg) center no-repeat;
      width: 98.8%;
      height: 600px;
      position: absolute;
      @media screen and (max-width: 769px) {
        background: url(../img/Bg_elem1.svg) center no-repeat;
        background-size: cover;
        height: 250px;
        width: 100%;
        left: 0;
      }
    }
    .logo {
      display: flex;
      margin: 32px 0 30px 0;
      background: url(../img/Logo.svg) center no-repeat;
      background-size: contain;
      height: 82px;
      flex-basis: 92%;
    }
    .main_title {
      display: flex;
      flex-basis: 92%;
      background-color: $font-color-2;
      justify-content: center;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
      padding: 0 50px 0 35px;
      margin: 0;
      height: 64px;
      @include font(32px, $font-color-3, 700, $font-bold);
      line-height: 64px;
      @media screen and (max-width: 1199px) {
        flex-basis: 100%;
        padding: 0 0 0 20px;
      }
      @media screen and (max-width: 769px) {
        font-size: 24px;
        margin-top: 20px;
        height: 57px;
        line-height: 24px;
        align-items: center;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -30px;
        left: 15px;
        border-style: solid;
        border-width: 45px 55px 0px 0px;
        border-color: #caddea transparent transparent transparent;
        @media screen and (max-width: 769px) {
          border-width: 35px 45px 0px 0px;
        }
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 33px;
        bottom: -30px;
        box-shadow: 4px 4px 6px #9bb6be;
        width: 4px;
        height: 44px;
        transform: rotate(50deg);
      }
    }

    .offer {
      display: flex;
      flex-basis: 100%;
      margin-top: 47px;
      flex-direction: column;
      @media screen and (max-width: 769px) {
        margin-top: 24px;
      }
      .offer_title {
        padding-left: 66px;
        @include font(21px, $font-color-4, 500, $font-medium);
        margin: 0;
        @media screen and (max-width: 769px) {
          font-size: 18px;
        }
      }
      .offer_items {
        padding-left: 60px;
        margin: 0;
        @media screen and (max-width: 575px) {
          padding-left: 25px;
        }
        .offer_item {
          color: $font-color-3;
          line-height: 33px;
          @media screen and (max-width: 769px) {
            line-height: 28px;
          }
          @media screen and (max-width: 575px) {
            line-height: 20px;
          }
          span {
            @include font(18px, $font-color-4, 400, $font-arial);
            @media screen and (max-width: 769px) {
              font-size: 16px;
            }
          }
        }
      }
    }

    .block {
      display: inline-block;
      height: 60px;
      width: 100%;
      margin-bottom: 10px;
      .title_plus_percent {
        display: flex;
        flex-basis: 100%;
        background-color: $font-color-2;
        justify-content: space-between;
        box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
        padding: 0;
        margin: 5px 0 0 0;
        height: 49px;
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 15px;
          border-style: solid;
          border-width: 20px 25px 0px 0px;
          border-color: #caddea transparent transparent transparent;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 22px;
          bottom: 1px;
          box-shadow: 2px 4px 7px rgba(2, 68, 121, .75);
          width: 4px;
          height: 17px;
          transform: rotate(50deg);
        }
        .percent_part {
          text-transform: uppercase;
          .red_number {
            @include font(30px, $font-color-7, 700, $font-bold);
            letter-spacing: -2.42px;
            position: relative;
            bottom: 0;
          }
          .red_text {
            @include font(24px, $font-color-7, 700, $font-regular);
            padding: 0 10px;
            position: relative;
            bottom: 0;
          }
          .text {
            position: relative;
            bottom: 0;
            @include font(18px, $color-third, 400, $font-regular);
          }
        }
      }
    }

    .group_of_btns {
      display: flex;
      flex-basis: 90%;
      justify-content: space-between;
      margin-top: 14px;
      margin-left: 50px;
      @media screen and (max-width: 769px) {
        flex-basis: 100%;
        height: 90px;
        margin-top: 0;
        margin-left: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  .get_a_price {
    position: relative;
    background-color: $color-third;
    height: 291px;
    padding-top: 26px;
    z-index: 1;
    @media screen and (max-width: 769px) {
      height: 550px;
      padding-bottom: 50px;
    }
    .bg_img {
      background: url(../img/Bg2.svg) center no-repeat;
      width: 99%;
      height: 291px;
      position: absolute;
      background-size: cover;
      top: 0;
      left: 0;
    }

    .line_1 {
      margin-bottom: 33px;
      @media screen and (max-width: 769px) {
        margin-bottom: 10px;
      }
      .title_plus_percent {
        display: flex;
        flex-basis: 100%;
        background-color: $font-color-2;
        justify-content: space-between;
        box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
        padding: 0 21px;
        margin: 0;
        height: 49px;
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -17px;
          left: 15px;
          border-style: solid;
          border-width: 22px 27px 0px 0px;
          border-color: #caddea transparent transparent transparent;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 25px;
          bottom: -19px;
          box-shadow: 2px 4px 7px rgba(2, 68, 121, .75);
          width: 4px;
          height: 27px;
          transform: rotate(50deg);
        }
        h2 {
          line-height: 49px;
        }
        .percent_part {
          text-transform: uppercase;
          @media screen and (max-width: 769px) {
            display: none;
          }
          .red_number {
            @include font(50px, $font-color-7, 700, $font-bold);
            letter-spacing: -2.42px;
            position: relative;
            bottom: 26%;
            &::before {
              content: '';
              display: inline-block;
              position: relative;
              bottom: -10%;
              width: 22px;
              height: 49px;
              margin-right: 19px;
              background: url(../img/arroiw.svg) left no-repeat;
            }
          }
          .red_text {
            @include font(37px, $font-color-7, 400, $font-regular);
            padding: 0 10px;
            position: relative;
            bottom: 25%;
          }
          .text {
            position: relative;
            bottom: 35%;
            @include font(22px, $color-third, 400, $font-regular);
          }
        }
      }
    }

    .line_2 {
      margin-bottom: 15px;
      @media screen and (max-width: 769px) {
        margin-bottom: 0;
      }
    }

    .line_3 {
      .default_form {
        .text_items {
          display: flex;
          flex-basis: 33.33%;
          justify-content: space-between;
          text-transform: uppercase;
          padding: 5px 15px;
          line-height: 48px;
          @media screen and (max-width: 1199px) {
            padding: 5px 0;
          }
          @media screen and (max-width: 769px) {
            justify-content: space-around;
          }
          .text_item1 {
            @include font(16px, $font-color-1, 400, $font-regular);
            padding-top: 30px;
          }
          .text_item2 {
            @include font(48px, $font-color-1, 400, $font-regular);
            padding-top: 17px;
            @media screen and (max-width: 575px) {
              @include font(44px, $font-color-1, 400, $font-regular);
            }
            .text_item3 {
              font-size: 27px;
              padding: 0 10px;
              @media screen and (max-width: 575px) {
                @include font(22px, $font-color-1, 400, $font-regular);
              }
            }
          }
        }

      }
    }
  }

  .time-consuming {
    position: relative;
    background-color: $color-primary-1;
    height: 880px;
    @media screen and (max-width: 1199px) {
      height: 1265px;
    }
    @media screen and (max-width: 575px) {
      height: 1200px;
    }
    .bg_img {
      background: url(../img/Bg3top.svg) center no-repeat;
      width: 99%;
      height: 700px;
      position: absolute;
      background-size: cover;
      left: 0;
      top: -350px;
      z-index: 0;
      @media screen and (max-width: 769px) {
        background: url(../img/Bg_elem1.svg) center no-repeat;
        background-size: cover;
        height: 250px;
        width: 100%;
        left: 0;
        top: 0;
      }
    }

    .main_title, .main_title1 {
      display: flex;
      @include font(28px, $font-color-3, 700, $font-bold);
      flex-basis: 92%;
      background-color: $font-color-2;
      justify-content: center;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
      margin-top: 40px;
      height: 54px;
      line-height: 54px;
      @media screen and (max-width: 1199px) {
        @include font(28px, $font-color-3, 300, $font-bold);
      }
      @media screen and (max-width: 769px) {
        flex-direction: column;
        height: 95px;
        padding-left: 20px;
        font-size: 22px;
        line-height: 30px;
        flex-basis: 100%;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 15px;
        border-style: solid;
        border-width: 24px 24px 0 0;
        border-color: #caddea transparent transparent transparent;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 26px;
        bottom: -13px;
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
        width: 4px;
        height: 28px;
        transform: rotate(50deg);
      }
    }

    .main_title1 {
      margin-top: 10px;
    }
    .text {
      text-align: justify;
      margin: 30px 0;
      @include font(18px, $font-color-4, 400, $font-arial);
      @media screen and (max-width: 1199px) {
        margin: 15px 0;
      }
      @media screen and (max-width: 575px) {
        font-size: 16px;
      }
    }

    .part {
      display: flex;
      position: relative;
      height: 560px;
      flex-basis: 100%;
      flex-direction: column;
      @include font(16px, $font-color-4, 400, $font-arial);
      @media screen and (max-width: 1199px) {
        height: 480px;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 575px) {
        top: 110px;
        height: 50px;
      }
      .block {
        width: 100%;
        height: 500px;
        @media screen and (max-width: 1199px) {
          height: 430px;
        }
        @media screen and (max-width: 575px) {
          height: 400px;
        }
        .standards, .for_students, .partner, .solution {
          position: relative;
          width: 110px;
          height: 110px;
          background-size: cover;
          margin: 0 auto 36px;
          @media screen and (max-width: 1199px) {
            margin: 0 auto 21px;
          }
          @media screen and (max-width: 575px) {
            position: absolute;
            width: 65px;
            height: 65px;
            top: -80px;
            left: auto;
          }
        }
        .standards {
          background: url(../img/Element1.svg) center no-repeat;
        }
        .for_students {
          background: url(../img/Element2.svg) center no-repeat;
        }
        .partner {
          background: url(../img/Element3.svg) center no-repeat;
        }
        .solution {
          background: url(../img/Element4.svg) center no-repeat;
        }
        .title {
          display: block;
          text-align: center;
          padding-bottom: 20px;
          @include font(18px, $font-color-3, 400, $font-medium);
          @media screen and (max-width: 1199px) {
            padding-bottom: 10px;
          }
          @media screen and (max-width: 575px) {
            display: none;
          }
          margin: 0;
        }
        .text {
          display: block;
          margin: 0;
          max-height: 200px;
          overflow: hidden;
          @media screen and (max-width: 575px) {
            display: none;
          }
        }
        .text_items {
          display: block;
          max-height: 95px;
          overflow: hidden;
          margin: 5px 0 0 0;
          padding-left: 17px;
          line-height: 19px;
          @media screen and (max-width: 1199px) {
            padding-bottom: 10px;
            height: 570px;
          }
          @media screen and (max-width: 575px) {
            display: none;
          }
        }
      }

      .btn_read_more {
        display: block;
        @media screen and (max-width: 575px) {
          display: none;
        }
      }
      &:hover {
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
        background-color: $color-third-1;
        height: 570px;
        width: 280px;
        padding: 10px;
        @media screen and (max-width: 1199px) {
          width: 100%;
          height: 450px;
        }
        @media screen and (max-width: 575px) {
          width: 290px;
          height: 400px;
          > .btn_read_more {
            display: block;
          }
          > .block > .text_items {
            display: block;
          }
          > .block > .text {
            display: block;
          }
          > .block > .title {
            display: block;
          }
        }
        .standards {
          background: url(../img/Element1_dark.svg) center no-repeat;
          left: 0;
        }
        .for_students {
          background: url(../img/Element2_dark.svg) center no-repeat;
        }
        .partner {
          background: url(../img/Element3_dark.svg) center no-repeat;
        }
        .solution {
          background: url(../img/Element4_dark.svg) center no-repeat;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -24px;
          left: 0;
          border-style: solid;
          border-width: 30px 40px 0 0;
          border-color: $color-third-1 transparent transparent transparent;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 14px;
          bottom: -24px;
          box-shadow: 4px 4px 6px #9bb6be;
          width: 4px;
          height: 35px;
          transform: rotate(50deg);
        }
      }
    }

    .position1 {
      @media screen and (max-width: 575px) {
        &:hover {
          &::after {
            content: '';
            bottom: inherit;
            top: -14px;
            left: 0;
            border-width: 0 30px 15px 30px;
            border-color: transparent transparent $color-third-1 transparent;
          }
          &::before {
            content: '';
            display: none;
          }
        }
      }
    }

    .position2 {
      @media screen and (max-width: 575px) {
        &:hover {
          left: -80px;
          .for_students {
            left: 80px;
          }
          &::after {
            content: '';
            bottom: inherit;
            top: -14px;
            left: 29%;
            border-width: 0 30px 15px 30px;
            border-color: transparent transparent $color-third-1 transparent;
          }
          &::before {
            content: '';
            display: none;
          }
        }
      }
    }

    .position3 {
      @media screen and (max-width: 575px) {
        &:hover {
          left: -160px;
          .partner {
            left: 160px;
          }
          &::after {
            content: '';
            bottom: inherit;
            top: -14px;
            left: 56%;
            border-width: 0 30px 15px 30px;
            border-color: transparent transparent $color-third-1 transparent;
          }
          &::before {
            content: '';
            display: none;
          }
        }
      }
    }

    .position4 {
      @media screen and (max-width: 575px) {
        &:hover {
          left: -240px;
          .solution {
            left: 240px;
          }
          &::after {
            content: '';
            bottom: inherit;
            top: -14px;
            left: 80%;
            border-width: 0 30px 15px 30px;
            border-color: transparent transparent $color-third-1 transparent;
          }
          &::before {
            content: '';
            display: none;
          }
        }
      }
    }
  }

  .why-order {
    position: relative;
    background-color: $color-secondary;
    height: 560px;
    @media screen and (max-width: 1199px) {
      height: 735px;
    }
    @media screen and (max-width: 575px) {
      height: 995px;
    }
    .bg_img {
      background: url(../img/Bg2.svg) center no-repeat;
      width: 99%;
      height: 560px;
      position: absolute;
      background-size: contain;
      left: 0;
      @media screen and (max-width: 575px) {
        background-size: cover;
      }
    }

    .main_title {
      display: flex;
      flex-basis: 100%;
      background-color: $font-color-2;
      justify-content: space-around;
      box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
      margin-top: 40px;
      height: 54px;
      line-height: 54px;
      @include font(28px, $font-color-3, 400, $font-bold);
      @media screen and (max-width: 575px) {
        font-size: 22px;
        height: 93px;
        line-height: 30px;
        padding-left: 25px;
        margin-top: 20px;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 15px;
        border-style: solid;
        border-width: 24px 24px 0 0;
        border-color: #caddea transparent transparent transparent;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 24px;
        bottom: -14px;
        box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
        width: 4px;
        height: 26px;
        transform: rotate(50deg);
      }
    }

    .sub_title {
      @include font(24px, $font-color-1, 400, $font-arial);
      padding-top: 10px;
      text-align: center;
      line-height: 26px;
      @media screen and (max-width: 575px) {
        font-size: 20px;
        margin: 0 auto;
        padding-top: 15px;
        width: 80%;
      }
    }
    .block {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      padding: 27px 0 18px 0;
      border-bottom: 2px solid $color-third-1;
      @media screen and (max-width: 575px) {
        flex-direction: row;
        padding: 20px 0 10px 0;
        justify-content: inherit;
      }
      .number {
        display: block;
        text-align: center;
        line-height: 30px;
        @include font(25px, $font-color-3, 700, $font-regular);
        height: 30px;
        width: 30px;
        background-color: $color-third-1;
        border-radius: 50%;
        margin-bottom: 18px;
        @media screen and (max-width: 575px) {
          margin-bottom: 5px;
          float: left;
          position: relative;
        }
      }
      .text {
        @include font(22px, $font-color-1, 400, $font-arial);
        line-height: 26px;
        text-align: left;
        @media screen and (max-width: 575px) {
          width: 80%;
          font-size: 20px;
          padding-left: 5px;
          line-height: 24px;
          float: left;
        }
      }
    }
  }

  .how-it-works {
    position: relative;
    background-color: $color-primary-1;
    height: 720px;
    @media screen and (max-width: 575px) {
      height: 1095px;
    }
    .bg_img {
      background: url(../img/Bg3bot.svg) center no-repeat;
      width: 100%;
      height: 590px;
      position: absolute;
      background-size: contain;
      overflow: hidden;
      left: 0;
      top: 475px;
      z-index: 0;
      @media screen and (max-width: 575px) {
        top: inherit;
        bottom: 0;
        left: 0;
        background: url(../img/Bg_elem2.svg) center no-repeat;
        background-size: cover;
        height: 300px;
      }
    }

    .main_title {
      display: flex;
      flex-basis: 92%;
      background-color: $font-color-2;
      justify-content: center;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
      margin-top: 52px;
      height: 54px;
      line-height: 54px;
      @media screen and (max-width: 575px) {
        height: 47px;
        line-height: 47px;
        margin-top: 28px;
        font-size: 22px;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 15px;
        border-style: solid;
        border-width: 24px 24px 0 0;
        border-color: #caddea transparent transparent transparent;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 24px;
        bottom: -14px;
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
        width: 4px;
        height: 26px;
        transform: rotate(50deg);
      }
    }

    .menu_items {
      display: flex;
      justify-content: left;
      flex-direction: column;
      padding: 0;
      margin: 50px 0 0 0;
      background-color: $color-primary-1;
      position: relative;
      flex-basis: 100%;
      @media screen and (max-width: 575px) {
        margin: 20px 0 0 0;
      }
      .menu_item1, .menu_item2, .menu_item3, .menu_item4, .menu_item5, .menu_item6 {
        display: flex;
        justify-content: left;
        padding: 0;
        @media screen and (max-width: 575px) {
          flex-direction: column;
        }
        .title {
          display: flex;
          position: relative;
          flex-direction: row;
          flex-basis: 60%;
          border-bottom: 2px solid $color-third-6;
          line-height: 67px;
          @media screen and (max-width: 575px) {
            flex-basis: 100%;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
          }
          a {
            text-decoration: none;
            margin: auto 0;
            h4 {
              font-size: 20px;
            }
          }
          &::before {
            display: inline-block;
            @include font(60px, $font-color-2, 700, $font-rajdhani-bold);
            content: ' ';
            text-transform: uppercase;
            width: 5%;
            position: relative;
            margin: 0 17px 0 26px;
            line-height: 67px;
            @media screen and (max-width: 575px) {
              margin: 0 25px 0 5px;
            }
          }
          &:hover {
            background-color: $color-third;
            &::after {
              content: '';
              z-index: 1;
              width: 0;
              height: 0;
              border-top: 34px solid transparent;
              border-bottom: 34px solid transparent;
              border-left: 25px solid $color-third;
              position: absolute;
              right: -3.8%;
              @media screen and (max-width: 575px) {
                right: 45%;
                bottom: -52px;
                border-top: 20px solid $color-third;
                border-right: 30px solid transparent;
                border-left: 30px solid transparent;
              }
            }
            + .content {
              display: inline-block;
              @media screen and (max-width: 575px) {
                position: relative;
                width: 100%;
              }
            }
          }
        }

        .content {
          display: none;
          position: absolute;
          width: 40%;
          height: 415px;
          box-shadow: 6px 4px 7px rgba(167, 192, 200, 0.75);
          background-color: $color-third-1;
          padding: 58px 45px 72px 45px;
          top: 10px;
          right: 0;
          z-index: 0;
          @media screen and (max-width: 575px) {
            top: 0;
          }
          .bg_img1, .bg_img2, .bg_img3, .bg_img4, .bg_img5, .bg_img6 {
            position: relative;
            width: 110px;
            height: 110px;
            background-size: cover;
            margin: 0 auto 40px;
            background: url(../img/Works1.svg) center no-repeat;
          }
          .bg_img2 {
            background: url(../img/Works2.svg) center no-repeat;
          }
          .bg_img3 {
            background: url(../img/Works3.svg) center no-repeat;
          }
          .bg_img4 {
            background: url(../img/Works4.svg) center no-repeat;
          }
          .bg_img5 {
            background: url(../img/Works5.svg) center no-repeat;
          }
          .bg_img6 {
            background: url(../img/Works6.svg) center no-repeat;
          }
          .text {
            @include font(18px, $font-color-4, 400, $font-arial);
            line-height: 30px;
            text-align: justify;
            @media screen and (max-width: 575px) {
              line-height: 25px;
              font-size: 16px;
            }
          }
        }
      }

      .menu_item1 {
        .title::before {
          content: '1';
          margin: 0 23px 0 30px;
          @media screen and (max-width: 575px) {
            margin: 0 20px 0 10px;
          }
        }
      }
      .menu_item2 {
        .title::before {
          content: '2';
        }
      }
      .menu_item3 {
        .title::before {
          content: '3';
        }
      }
      .menu_item4 {
        .title::before {
          content: '4';
        }
      }
      .menu_item5 {
        .title::before {
          content: '5';
        }
      }
      .menu_item6 {
        .title::before {
          content: '6';
        }
      }

    }

    .position {
      display: flex;
      margin: 20px;
      justify-content: space-around;
    }
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



