<body>
<main class="about_us">
    <div class="container-fluid main_content_head">
        <div class="container">
            <div class="row">
                <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <div class="info">
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget
                        consectetur lectus, eu laoreet massa. Duis viverra porttitor mi, et ornare leo interdum vel.
                        Vivamus libero
                        arcu, fermentum at aliquam eu, fringilla eget lorem. Suspendisse non ullamcorper libero, ac
                        aliquam nisi. Curabitur ac tristique quam. Sed ornare ante sed imperdiet aliquet. Suspendisse
                        sagittis
                        ullamcorper nunc sit amet egestas. Aliquam mollis euismod leo, at lobortis neque pellentesque
                        ac. Maecenas quis dignissim erat, ut ullamcorper arcu. Suspendisse dictum id velit vel lobortis.
                        Vivamus a tellus eu lacus aliquet finibus.</p>
                    <p class="subtitle">Nunc posuere eros quis dolor hendrerit tempus</p>
                    <p class="subtitle">In gravida ligula vel urna laoreet, quis convallis urna condimentum</p>
                    <p class="text">Nam molestie, enim eu interdum sodales, tellus purus pulvinar diam, ac feugiat justo
                        metus et enim.</p>
                    <ol class="list_items">
                        <li class="list_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            <br>
                            <p>Proin fringilla tellus ac venenatis aliquam. Integer eu rhoncus dui. Duis in ligula eu
                                nunc finibus viverra. Quisque dictum semper quam, sit amet faucibus enim tincidunt nec.
                                Maecenas dignissim fermentum tincidunt. Phasellus vitae nulla libero. Vestibulum a ante
                                fermentum, tristique sapien eget, sodales sapien. Nullam felis ex, laoreet nec semper
                                vitae, molestie nec tortor. Praesent rutrum, purus ac maximus euismod, nisl arcu
                                pharetra lectus, vitae posuere est libero sed felis.</p>
                        </li>
                        <li class="list_item">Maecenas nibh lorem, ullamcorper quis lacus ac, lobortis maximus lacus
                            <br>
                            <p>Morbi ullamcorper ligula libero, ut laoreet risus vulputate ac. Nulla a ultricies neque,
                                a tempus justo. Cras efficitur tristique est, eget suscipit justo porta id. Sed finibus
                                nibh eget tortor congue, quis faucibus nibh elementum. Vivamus pellentesque nec sem non
                                ultrices.</p>
                        </li>
                        <li class="list_item">Vivamus sollicitudin eget magna et placerat
                            <br>
                            <p>Nulla ultrices velit nec turpis eleifend pulvinar. Phasellus ut nunc nulla. Curabitur
                                viverra neque vitae elit fringilla, sed convallis felis suscipit. Donec lobortis posuere
                                ligula. Maecenas rhoncus tincidunt velit at ornare. Nunc at posuere ante.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main_content_subhead">
        <div class="container">
            <div class="row">
                <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <div class="info more_info">
                    <p class="text first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget
                        consectetur lectus, eu laoreet massa. Duis viverra porttitor mi, et ornare leo interdum vel.
                        Vivamus libero arcu, fermentum at aliquam eu, fringilla eget lorem. Suspendisse non ullamcorper
                        libero, ac aliquam nisi. Curabitur ac tristique quam. Sed ornare ante sed imperdiet aliquet.
                        Suspendisse sagittis ullamcorper nunc sit amet egestas. Aliquam mollis euismod leo, at lobortis
                        neque pellentesque ac. Maecenas quis dignissim erat, ut ullamcorper arcu. Suspendisse dictum id
                        velit vel lobortis. Vivamus a tellus eu lacus aliquet finibus.</p>
                    <p class="text second">Donec ac tincidunt tellus. Aliquam porttitor, mauris a bibendum convallis,
                        purus
                        neque ornare risus, id consequat magna orci sit amet ligula. Sed sed convallis lectus.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Aenean in dignissim dolor, ac dapibus odio. Nulla massa velit, accumsan a dictum nec, feugiat ac
                        libero. Donec dapibus semper rhoncus. Etiam id pretium nunc. Mauris vehicula, elit in auctor
                        aliquam, nibh mi faucibus ligula, in congue nisi lorem non urna. Sed ut velit in sapien
                        scelerisque maximus eget a nibh. Sed pretium pharetra odio, ut placerat libero sodales sed.
                        Curabitur faucibus lectus non lacus aliquam accumsan. Interdum et malesuada fames ac ante ipsum
                        primis in faucibus. Sed vitae lorem ut ipsum consequat gravida. Praesent in aliquam nunc.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main_content">
        <div class="container">
            <div class="row">
                <div class="last_post">
                    <p class="subtitle">Lorem Ipsum</p>
                    <ul class="items">
                        <li class="item"><span> The Biggest and Newest Features Recently Announced by
                                Apple</span></li>
                        <li class="item"><span>A Step-by-Step Guide on How to Win an Essay Contest</span></li>
                        <li class="item"><span>Advantages of Reading</span></li>
                        <li class="item"><span>A Step-by-Step Guide on How to Win an Essay Contest</span></li>
                        <li class="item"><span>Everything you Need to Know about Bitcoin: 6 Main Facts</span>
                        </li>
                    </ul>
                </div>
                <div class="place_for_banner1">PLACE for BANNER</div>
                <div class="place_for_banner2">PLACE for BANNER</div>
                <h2 class="title faq">faq</h2>
                <h3><a href="#" class="subtitle arrow_before"> How confidential is your writing service?</a></h3>
                <div class="last_post full_width">
                    <h3 class="subtitle">Am I free to choose the writer I want</h3>
                    <p class="text">If you are placing a repeat order, you can ask for a writer you worked with in the
                        past. While completing the order form, type your preferred writer’s ID in special gap. Take care
                        to do this in the way we have described to be sure of getting the writer you want. We cannot
                        guarantee to allocate your preferred writer if you don't request him/her on the order form.</p>
                </div>
                <h3><a href="#" class="subtitle arrow_before"> How will my custom essay be formatted?</a></h3>
                <h3><a href="#" class="subtitle arrow_before"> Is it possible to have my paper at a discounted
                    price?</a></h3>
                <h3><a href="#" class="subtitle arrow_before"> What are my options if I am displeased with my
                    essay? </a></h3>
                <h3><a href="#" class="subtitle arrow_before"> Do you maintain a database of pre-written papers? </a>
                </h3>
                <h3><a href="#" class="subtitle arrow_before last"> Can you accommodate me if I want my paper formatted
                    in the APA style?</a></h3>
            </div>
            <div class="row">
                <h2 class="title">want an instant quote? you’ve got it?</h2>
                <p class="text subinfo">Just use our Price Calculator to determine the cost of your future academic
                    masterpiece.</p>
                <div class="table_and_form">
                    <div class="default_form">
                        <div class="order_item">
                            <label>Type of assignment</label>
                            <select name="type_of" id="type_of_id">
                                <option value="0">Eassay</option>
                                <option value="1">Second</option>
                                <option value="2">Third</option>
                                <option value="3">Special option</option>
                            </select>
                        </div>
                        <div class="order_item">
                            <label>Number of pages</label>
                            <select name="number_of" id="number_of_id">
                                <option value="0">1 page/ 300 words</option>
                                <option value="1">Second</option>
                                <option value="2">Third</option>
                                <option value="3">Special option</option>
                            </select>
                        </div>
                        <div class="order_item">
                            <label>Currency</label>
                            <select name="usd" id="usd_id">
                                <option value="0">USD</option>
                                <option value="1">Second</option>
                                <option value="2">Third</option>
                                <option value="3">Special option</option>
                            </select>
                        </div>
                    </div>
                    <div class="table">
                        <table>
                            <tr>
                                <th class="first_th">Writer level/
                                    Timeframe
                                </th>
                                <th class="second">High School</th>
                                <th class="hidden_on_mobile">College</th>
                                <th class="hidden_on_mobile">University</th>
                                <th class="hidden_on_mobile">Master's</th>
                                <th class="hidden_on_mobile">PHD</th>
                            </tr>
                            <tr>
                                <td class="first_td">3 hours</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">6 hours</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">8 hours</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">12 hours</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">24 hours</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">48 hours</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">3 days</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">4 days</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr>
                                <td class="first_td">7 days</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                            <tr class="last">
                                <td class="first_td">11 days</td>
                                <td>11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                                <td class="hidden_on_mobile">11.99 USD</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h2 class="title">How to contact us</h2>
                <p class="text subinfo1">Our company employs writing experts from every part of the world and they have
                    unrivalled knowledge in their chosen disciplines. Hence, we can confidently claim to provide you
                    with the highest quality papers you will get anywhere. Quality is never compromised with us and
                    every deadline is met. Don't hesitate to get in touch with our 24x7 customer services team if you
                    need help with the ordering or payment system or you need any type of technical assistance.</p>
                <div class="contact_us">
                    <div class="support_and_sale">
                        <span class="Toll">Sales toll free:
                            <a href="tel:1 (877) 894-0925">1 (877) 894-0925</a></span>
                        <span class="Toll">Our address:
                            <a href="#">581 Boylston Street, Boston, MA 02116</a></span>
                        <span class="Toll">Our E-mail:
                            <a href="support@bestwritinghelp.org">support@bestwritinghelp.org</a></span>
                    </div>
                    <div class="chat_btn">
                        <a href="#" class="liveChat">live chat</a>
                    </div>
                </div>
                <div class="contact_form">
                    <h3 class="title">Contact form</h3>
                    <div class="row part1">
                        <label>Subject</label>
                        <input class="subject" required="" type="text" placeholder="">
                    </div>
                    <div class="row part2">
                        <div class="group_of_inputs">
                            <label>First name</label>
                            <input class="name" required="" type="text" placeholder="">
                            <label>Order ID (if known)</label>
                            <input class="order" required="" type="text" placeholder="">
                            <label>E-mail</label>
                            <input class="email" required="" type="email" placeholder="">
                        </div>
                        <div class="comment_text">
                            <label>Message</label>
                            <textarea class="comment" name="comment" cols="30" rows="" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="row part3">
                        <div class="btn_read_more">
                            <a href="#" class="read_more">Send</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <table class="table2">
                    <tbody>
                    <tr>
                        <th>Lorem ipsum dolor</th>
                        <th>Mauris nec magna et magna</th>
                        <th class="hidden_on_mobile">Mauris nec magna et magna</th>
                    </tr>
                    <tr class="light_blue">
                        <td>Audi</td>
                        <td>Mercedes-Benz</td>
                        <td class="hidden_on_mobile">BMW</td>
                    </tr>
                    <tr>
                        <td>Skoda</td>
                        <td>Mercedes-AMG</td>
                        <td class="hidden_on_mobile">Mini</td>
                    </tr>
                    <tr class="light_blue">
                        <td>Lamborghini</td>
                        <td>Smart</td>
                        <td class="hidden_on_mobile">Rolls-Royce</td>
                    </tr>
                    <tr>
                        <td>Lamborghini</td>
                        <td>Smart</td>
                        <td class="hidden_on_mobile">Rolls-Royce</td>
                    </tr>
                    <tr class="light_blue">
                        <td>Lamborghini</td>
                        <td>Smart</td>
                        <td class="hidden_on_mobile">Rolls-Royce</td>
                    </tr>
                    <tr>
                        <td>Lamborghini</td>
                        <td>Smart</td>
                        <td class="hidden_on_mobile">Rolls-Royce</td>
                    </tr>
                    <tr class="light_blue">
                        <td>Lamborghini</td>
                        <td>Smart</td>
                        <td class="hidden_on_mobile">Rolls-Royce</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3 class="last_title">What our customers say</h3>
                <div class="our_customers_comments">
                    <div class="last_post">
                        <p class="text">I was at a loss because my professor gave me a very complicated assignment. I
                            once visited your website and decided to try using your services. I was very impressed with
                            the paper you sent me only in 6 hours! You saved my grade! Thank you!</p>
                    </div>
                    <div class="last_post hidden_on_mobile">
                        <p class="text">I was at a loss because my professor gave me a very complicated assignment. I
                            once visited your website and decided to try using your services. I was very impressed with
                            the paper you sent me only in 6 hours! You saved my grade! Thank you!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="name_of_our_customers">
                    <span class="text">Linda,USA</span>
                    <span class="text hidden_on_mobile">Linda,USA</span>
                </div>
            </div>
            <div class="row">
                <ul class="pagination">
                    <li><a class="active" href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
