<body>
<main class="blog_post">
    <div class="container-fluid blog_post_bg">
        <div class="bg_img"></div>
        <div class="container">
            <div class="row">
                <div class="post">
                    <div class="social_img_date">
                        <div class="social_icons">
                            <a href="#">
                                <div class="socialFace"></div>
                            </a>
                            <a href="#">
                                <div class="socialTwit"></div>
                            </a>
                            <a href="#">
                                <div class="socialPint"></div>
                            </a>
                        </div>
                        <div class="img"></div>
                        <div class="tags_and_date">
                            <ul class="block_with_tags">
                                <li class="item hidden_pc"><a href="#">Technology</a></li>
                                <li class="item hidden_mobile"><a href="#">Study</a></li>
                                <li class="item hidden_mobile"><a href="#">Tips</a></li>
                                <li class="item hidden_mobile"><a href="#">Essay</a></li>
                            </ul>
                            <time class="date_of_post">
                                June 21, 2017
                            </time>
                        </div>
                    </div>
                    <div class="content_top">
                        <h2 class="title"> A Step-by-Step Guide on How to Win an Essay Contest</h2>
                        <hr class="line">
                        <div class="social_icons">
                            <a href="#">
                                <div class="socialFace"></div>
                            </a>
                            <a href="#">
                                <div class="socialTwit"></div>
                            </a>
                            <a href="#">
                                <div class="socialPint"></div>
                            </a>
                        </div>
                        <p class="subtitle">Have you ever considered taking part in an essay contest?</p>
                        <p class="subtitle">Have you ever imagined winning essay contests?</p>
                        <br>
                        <p class="text">The following writing essay tips will help you to forget about all your fears
                            and worries and actually become a winner of an essay contest.</p>
                        <br>
                        <ol class="list_items">
                            <li class="list_item">Thoroughly Read the Rules of an Essay Contest
                                <br>
                                <p>Make sure that you read the essay contest rules thoroughly so that you don’t overlook
                                    any small detail. It is absolutely crucial to follow each rule, since you might lose
                                    a chance to win the contest regardless of how good your essay is. Thus, pay special
                                    attention to the contest's theme, word or character count, and any other essay
                                    requirements.</p>
                            </li>
                            <li class="list_item">Brainstorm Essay Ideas
                                <br>
                                <p>Before writing your essay, it is highly recommended to brainstorm several major ideas
                                    that are absolutely different from each other, because your first impulse is not
                                    usually the best one. It is also advised to make the theme personal so that you can
                                    write about it from different angles. Remember that the more ideas you have, the
                                    better.</p>
                            </li>
                            <li class="list_item">Select the Most Suitable Essay Concept With Regard to the Contest's
                                Theme and Sponsor
                                <br>
                                <p>Once you have come up with ideas, pick the one you want to develop. Before making the
                                    final decision, think what idea might be the most appealing to the essay contest’s
                                    sponsor. Most importantly, make sure that your concept perfectly fits the sponsor’s
                                    company image.</p>
                            </li>
                            <li class="list_item">Start Your Essay with a Good Hook
                                <br>
                                <p>The first sentence of any essay is the most important in terms of grabbing attention.
                                    Thus, spend enough time to write it. This sentence must be powerful, moving,
                                    intriguing, or hilarious if you want to hook your reader’s interest. This way, you
                                    will undoubtedly stick in the memory of judges when it is time to choose the
                                    winner.</p>
                            </li>
                            <li class="list_item">Write the First Draft
                                <br>
                                <p>Once you have brainstormed and come up with the first sentence, start writing the
                                    first draft of your winning essay. While writing it, don’t worry about the mistakes
                                    or word count, since you can always make changes. It is essential to focus on your
                                    ideas and develop them properly. Polishing and correcting your essay will come
                                    later.</p>
                            </li>
                            <li class="list_item">Revise Your Essay for Organization and Flow
                                <br>
                                <p>When you are have written your first draft, you should look it over in order to
                                    ensure that it flows smoothly. Your points should be clear and well-made, while your
                                    thoughts should flow nicely from one point to another. It is also a good idea to
                                    read your essay aloud to make sure it sounds good.
                                </p>
                            </li>
                            <li class="list_item">Put Your Essay Aside
                                <br>
                                <p>Once you have polished the first draft of your essay, it is strongly recommended to
                                    put it aside for a little while. This way, you have enough time to mull over your
                                    ideas and, probably, add something. You can also ask someone to check your spelling
                                    and grammar so that there are no mistakes in your essay.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row content_top_footer">
                <span class="part1"><a href="#">Curabitur lobortis, nulla nec</a></span>
                <span class="part2"><a
                        href="#">Duis ullamcorper eros tellus, in dapibus mi venenatis sit amet</a></span>
            </div>
            <div class="row content_middle">
                <div class="categories_hidden_on_pc">
                    <p class="subtitle">Categories</p>
                    <div class="last_post">
                        <p class="subtitle1">Last posts</p>
                        <ul class="items">
                            <li class="item"><span> The Biggest and Newest Features Recently Announced by
                                Apple</span></li>
                            <li class="item"><span>A Step-by-Step Guide on How to Win an Essay Contest</span></li>
                        </ul>
                    </div>
                </div>
                <div class="info_block">
                    <div class="part1">
                        <div class="categories">
                            <p class="subtitle">Categories</p>
                            <ul class="items">
                                <li class="item">Academic</li>
                                <li class="item">Informative</li>
                                <li class="item">Literary</li>
                                <li class="item">Tips for Students</li>
                            </ul>
                        </div>
                        <div class="last_post">
                            <p class="subtitle">Last posts</p>
                            <ul class="items">
                                <li class="item"><span> The Biggest and Newest Features Recently Announced by
                                Apple</span></li>
                                <li class="item"><span>A Step-by-Step Guide on How to Win an Essay Contest</span></li>
                                <li class="item"><span>Advantages of Reading</span></li>
                                <li class="item"><span>Everything you Need to Know about Bitcoin: 6 Main Facts</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="related_tags">
                        <p class="subtitle1">Related tags</p>
                        <ul class="block_with_tags">
                            <li class="item"><a href="#">Technology</a></li>
                            <li class="item"><a href="#">Internet</a></li>
                            <li class="item"><a href="#">Business</a></li>
                            <li class="item"><a href="#">TIPS</a></li>
                            <li class="item"><a href="#">ESSAY</a></li>
                            <li class="item"><a href="#">STUDY</a></li>
                            <li class="item"><a href="#">BOOKS</a></li>
                            <li class="item"><a href="#">READING</a></li>
                            <li class="item"><a href="#">TIPS</a></li>
                        </ul>
                        <p class="subtitle2">Archive</p>
                    </div>
                </div>
            </div>
            <div class="row content_bottom">
                <h2 class="title">comments</h2>
                <div class="comments">
                    <div class="comment">
                        <div class="img"></div>
                        <div class="text">
                            <div class="head">
                                <div class="part1">
                                    <span class="name_and_town">Michael, Jacksonville, Florida </span>
                                    <time class="date_of_comment">November 10, 2015 at 7:55 am</time>
                                </div>
                                <div class="part2">
                                    <a href="#" class="reply">reply</a>
                                    <a href="#" class="likes">5</a>
                                </div>
                            </div>
                            <div class="main">
                                <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                                    dapibus, leo nec convallis viverra, enim massa tempus arcu, vel viverra elit eros
                                    sit amet sem... <a href="#" class="read">Continue reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="subcomment">
                        <div class="comment">
                            <div class="img"></div>
                            <div class="text">
                                <div class="head">
                                    <div class="part1">
                                        <span class="name_and_town">Michael, Jacksonville, Florida </span>
                                        <time class="date_of_comment">November 10, 2015 at 7:55 am</time>
                                    </div>
                                    <div class="part2">
                                        <a href="#" class="reply">reply</a>
                                        <a href="#" class="likes">5</a>
                                    </div>
                                </div>
                                <div class="main">
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                                        dapibus, leo nec convallis viverra, enim massa tempus arcu, vel viverra elit
                                        eros
                                        sit amet sem... <a href="#" class="read">Continue reading</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="img"></div>
                            <div class="text">
                                <div class="head">
                                    <div class="part1">
                                        <span class="name_and_town">Michael, Jacksonville, Florida </span>
                                        <time class="date_of_comment">November 10, 2015 at 7:55 am</time>
                                    </div>
                                    <div class="part2">
                                        <a href="#" class="reply">reply</a>
                                        <a href="#" class="likes">5</a>
                                    </div>
                                </div>
                                <div class="main">
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                                        dapibus, leo nec convallis viverra, enim massa tempus arcu, vel viverra elit
                                        eros
                                        sit amet sem... <a href="#" class="read">Continue reading</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="img"></div>
                        <div class="text">
                            <div class="head">
                                <div class="part1">
                                    <span class="name_and_town">Michael, Jacksonville, Florida </span>
                                    <time class="date_of_comment">November 10, 2015 at 7:55 am</time>
                                </div>
                                <div class="part2">
                                    <a href="#" class="reply">reply</a>
                                    <a href="#" class="likes">5</a>
                                </div>
                            </div>
                            <div class="main">
                                <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                                    dapibus, leo nec convallis viverra, enim massa tempus arcu, vel viverra elit eros
                                    sit amet sem... <a href="#" class="read">Continue reading</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="img"></div>
                        <div class="text">
                            <div class="head">
                                <div class="part1">
                                    <span class="name_and_town">Michael, Jacksonville, Florida </span>
                                    <time class="date_of_comment">November 10, 2015 at 7:55 am</time>
                                </div>
                                <div class="part2">
                                    <a href="#" class="reply">reply</a>
                                    <a href="#" class="likes">5</a>
                                </div>
                            </div>
                            <div class="main">
                                <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                                    dapibus, leo nec convallis viverra, enim massa tempus arcu, vel viverra elit eros
                                    sit amet sem... <a href="#" class="read">Continue reading</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row read_btn">
                <div class="btn_read_more">
                    <a href="#" class="read_more">Read More</a>
                </div>
            </div>
            <div class="row leave_a_comments">
                <div class="form_for_comment">
                    <h3 class="title">Leave a comments</h3>
                    <div class="row part1">
                        <input class="name" required="" type="text" placeholder="Name">
                        <input class="email" required="" type="email" placeholder="Email">
                    </div>
                    <div class="row part2">
                        <input class="subject" required="" type="text" placeholder="Subject">
                    </div>
                    <div class="row part3">
                        <textarea class="comment" name="comment" cols="30" rows="" placeholder="Comment"></textarea>
                    </div>
                    <div class="row part4">
                        <div class="btn_read_more">
                            <a href="#" class="read_more">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

