<body>
<main class="blog">
    <div class="container-fluid blog_bg">
        <div class="bg_img"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 title">
                    <h2 class="blog_title">Blog</h2>
                </div>
            </div>
            <div class="row">
                <div class="info_block">
                    <div class="part1">
                        <div class="categories">
                            <p class="subtitle">Categories</p>
                            <ul class="items">
                                <li class="item">Academic</li>
                                <li class="item">Informative</li>
                                <li class="item">Literary</li>
                                <li class="item">Tips for Students</li>
                            </ul>
                        </div>
                        <div class="last_post">
                            <p class="subtitle">Last posts</p>
                            <ul class="items">
                                <li class="item"><span> The Biggest and Newest Features Recently Announced by
                                Apple</span></li>
                                <li class="item"><span>A Step-by-Step Guide on How to Win an Essay Contest</span></li>
                                <li class="item"><span>Advantages of Reading</span></li>
                                <li class="item"><span>Everything you Need to Know about Bitcoin: 6 Main Facts</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="related_tags">
                        <p class="subtitle1">Related tags</p>
                        <ul class="block_with_tags">
                            <li class="item"><a href="#">Technology</a></li>
                            <li class="item"><a href="#">Internet</a></li>
                            <li class="item"><a href="#">Business</a></li>
                            <li class="item"><a href="#">TIPS</a></li>
                            <li class="item"><a href="#">ESSAY</a></li>
                            <li class="item"><a href="#">STUDY</a></li>
                            <li class="item"><a href="#">BOOKS</a></li>
                            <li class="item"><a href="#">READING</a></li>
                            <li class="item"><a href="#">TIPS</a></li>
                        </ul>
                        <p class="subtitle2">Archive</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog_posts">
                    <div class="left_img">
                        <div class="content_img_and_text first_post">
                            <h3 class="title_hidden_on_pc">The Biggest and Newest Features Recently
                                Announced by Apple</h3>
                            <div class="bg_img"></div>
                            <time class="date_of_post_hidden_on_pc">June 21, 2017</time>
                            <div class="title_and_text">
                                <h3 class="title">The Biggest and Newest Features Recently
                                    Announced by Apple</h3>
                                <p class="text">At Apple’s Worldwide Developers Conference, the company has made a
                                    number of
                                    announcements involving the changes to hardware and software. Apple has also
                                    provided a
                                    glimpse at where the future of computing and technologies heads for. So, here is a
                                    recap
                                    of
                                    the most fundamental announcements. New iPhone features...
                                </p>
                                <div class="read_more_and_tags">
                                    <div class="btn_read_more">
                                        <a href="Blog_post.html" class="read_more">Read More</a>
                                    </div>
                                    <ul class="block_with_tags">
                                        <li class="item"><a href="#">Technology</a></li>
                                        <li class="item hidden_mobile"><a href="#">Internet</a></li>
                                        <li class="item hidden_mobile"><a href="#">Business</a></li>
                                    </ul>
                                </div>
                            </div>
                            <time class="date_of_post">June 21, 2017</time>
                        </div>
                    </div>
                    <div class="right_img">
                        <div class="content_img_and_text">
                            <time class="date_of_post">June 21, 2017</time>
                            <div class="title_and_text">
                                <h3 class="title"> A Step-by-Step Guide on How to Win an
                                    Essay Contest</h3>
                                <p class="text">How to Win an Essay Contest Have you ever considered taking part in an
                                    essay contest? Have you ever imagined winning essay contests? The following writing
                                    essay tips will help you to forget about all your fears and worries and actually
                                    become a winner of an essay contest. 1. Thoroughly Read the Rules of an Essay
                                    Cont...
                                </p>
                                <div class="read_more_and_tags">
                                    <div class="btn_read_more">
                                        <a href="Blog_post.html" class="read_more">Read More</a>
                                    </div>
                                    <ul class="block_with_tags">
                                        <li class="item hidden_pc"><a href="#"> Technology </a></li>
                                        <li class="item hidden_mobile"><a href="#">Tips</a></li>
                                        <li class="item hidden_mobile"><a href="#">Essay</a></li>
                                        <li class="item hidden_mobile"><a href="#">Study</a></li>
                                    </ul>
                                </div>
                            </div>
                            <time class="date_of_post_hidden_on_pc">June 21, 2017</time>
                            <div class="bg_img"></div>
                            <h3 class="title_hidden_on_pc">A Step-by-Step Guide on How to Win an
                                Essay Contest</h3>
                        </div>
                    </div>
                    <div class="left_img">
                        <div class="content_img_and_text">
                            <h3 class="title_hidden_on_pc">The Biggest and Newest Features Recently
                                Announced by Apple</h3>
                            <div class="bg_img img3"></div>
                            <time class="date_of_post_hidden_on_pc">June 21, 2017</time>
                            <div class="title_and_text">
                                <h3 class="title">The Biggest and Newest Features Recently
                                    Announced by Apple</h3>
                                <p class="text">At Apple’s Worldwide Developers Conference, the company has made a
                                    number of announcements involving the changes to hardware and software. Apple has
                                    also
                                    provided a glimpse at where the future of computing and technologies heads for. So,
                                    here is a
                                    recap of the most fundamental announcements. New iPhone features...
                                </p>
                                <div class="read_more_and_tags">
                                    <div class="btn_read_more">
                                        <a href="Blog_post.html" class="read_more">Read More</a>
                                    </div>
                                    <ul class="block_with_tags">
                                        <li class="item"><a href="#">Technology</a></li>
                                        <li class="item hidden_mobile"><a href="#">Internet</a></li>
                                        <li class="item hidden_mobile"><a href="#">Business</a></li>
                                    </ul>
                                </div>
                            </div>
                            <time class="date_of_post">June 21, 2017</time>
                        </div>
                    </div>
                    <div class="right_img">
                        <div class="content_img_and_text">
                            <time class="date_of_post">June 21, 2017</time>
                            <div class="title_and_text">
                                <h3 class="title"> A Step-by-Step Guide on How to Win an
                                    Essay Contest</h3>
                                <p class="text">How to Win an Essay Contest Have you ever considered taking part in an
                                    essay contest? Have you ever imagined winning essay contests? The following writing
                                    essay tips will help you to forget about all your fears and worries and actually
                                    become a winner of an essay contest. 1. Thoroughly Read the Rules of an Essay
                                    Cont...
                                </p>
                                <div class="read_more_and_tags">
                                    <div class="btn_read_more">
                                        <a href="Blog_post.html" class="read_more">Read More</a>
                                    </div>
                                    <ul class="block_with_tags">
                                        <li class="item hidden_pc"><a href="#"> Technology </a></li>
                                        <li class="item hidden_mobile"><a href="#">Tips</a></li>
                                        <li class="item hidden_mobile"><a href="#">Essay</a></li>
                                        <li class="item hidden_mobile"><a href="#">Study</a></li>
                                    </ul>
                                </div>
                            </div>
                            <time class="date_of_post_hidden_on_pc">June 21, 2017</time>
                            <div class="bg_img img4"></div>
                            <h3 class="title_hidden_on_pc">A Step-by-Step Guide on How to Win an
                                Essay Contest</h3>
                        </div>
                    </div>
                    <div class="left_img second_last">
                        <div class="content_img_and_text">
                            <div class="bg_img img1"></div>
                            <div class="title_and_text">
                                <h3 class="title">The Biggest and Newest Features Recently
                                    Announced by Apple</h3>
                                <p class="text">At Apple’s Worldwide Developers Conference, the company has made a
                                    number of
                                    announcements involving the changes to hardware and software. Apple has also
                                    provided a
                                    glimpse at where the future of computing and technologies heads for. So, here is a
                                    recap
                                    of
                                    the most fundamental announcements. New iPhone features...
                                </p>
                                <div class="read_more_and_tags">
                                    <div class="btn_read_more">
                                        <a href="Blog_post.html" class="read_more">Read More</a>
                                    </div>
                                    <ul class="block_with_tags">
                                        <li class="item"><a href="#">Technology</a></li>
                                        <li class="item hidden_mobile"><a href="#">Internet</a></li>
                                        <li class="item hidden_mobile"><a href="#">Business</a></li>
                                    </ul>
                                </div>
                            </div>
                            <time class="date_of_post">June 21, 2017</time>
                        </div>
                    </div>
                    <div class="right_img last">
                        <div class="content_img_and_text">
                            <time class="date_of_post">June 21, 2017</time>
                            <div class="title_and_text">
                                <h3 class="title"> A Step-by-Step Guide on How to Win an
                                    Essay Contest</h3>
                                <p class="text">How to Win an Essay Contest Have you ever considered taking part in an
                                    essay contest? Have you ever imagined winning essay contests? The following writing
                                    essay tips will help you to forget about all your fears and worries and actually
                                    become a winner of an essay contest. 1. Thoroughly Read the Rules of an Essay
                                    Cont...
                                </p>
                                <div class="read_more_and_tags">
                                    <div class="btn_read_more">
                                        <a href="Blog_post.html" class="read_more">Read More</a>
                                    </div>
                                    <ul class="block_with_tags">
                                        <li class="item hidden_pc"><a href="#"> Technology </a></li>
                                        <li class="item hidden_mobile "><a href="#">Tips</a></li>
                                        <li class="item hidden_mobile "><a href="#">Essay</a></li>
                                        <li class="item hidden_mobile "><a href="#">Study</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="bg_img img2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pagination_form">
                <ul class="pagination">
                    <li><a class="hidden_mobile" href="#">❮</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a class="hidden_on_pc" href="#">...</a></li>
                    <li><a class="hidden_mobile" href="#">3</a></li>
                    <li><a class="hidden_mobile" href="#">4</a></li>
                    <li><a class="hidden_mobile" href="#">5</a></li>
                    <li><a class="hidden_mobile" href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">❯</a></li>
                </ul>
            </div>
            <div class="categories_hidden_on_pc">
                <p class="subtitle">Categories</p>
                <div class="last_post">
                    <p class="subtitle1">Last posts</p>
                    <ul class="items">
                        <li class="item"><span> The Biggest and Newest Features Recently Announced by
                                Apple</span></li>
                        <li class="item"><span>A Step-by-Step Guide on How to Win an Essay Contest</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

