<main class="home_content">
    <div class="container-fluid bg">
        <div class="container">
            <div class="row">
                <div class="welcome_user_hidden_on_pc">
                    <p class="text">Welcome, User Test</p>
                </div>
                <div class="home_nav d-flex justify-content-between flex-row">
                    <div class="welcome_user">
                        <p class="text">Welcome, User Test</p>
                    </div>
                    <div class="nav">
                        <ul class="items flex-row">
                            <li class="item"><a href="#">My Orders</a></li>
                            <li class="item hidden_on_mobile_item"><a href="#">my account</a></li>
                            <li class="item hidden_on_mobile_item"><a href="#">referral program</a></li>
                            <li class="item hidden_on_mobile_item"><a href="#">LogOut</a></li>
                            <li class="hidden_on_pc">
                                <nav role="navigation">
                                    <div id="menuToggle">
                                        <input type="checkbox"/>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <ul id="menu">
                                            <a href="#">
                                                <li class="main_menu_item">my account</li>
                                            </a>
                                            <a href="#">
                                                <li>referral program</li>
                                            </a>
                                            <a href="#">
                                                <li>LogOut</li>
                                            </a>
                                        </ul>
                                    </div>
                                </nav>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hidden_on_mobile">
                    <div class="home_info page_details justify-content-between flex-column">
                        <div class="d-flex justify-content-between flex-row">
                            <span class="bold">Account type: <span class="text1">standard</span></span>
                            <span class="bold">New message: <span class="text2">1</span></span>
                            <span class="bold">Bonus points: <span class="text3">0 $</span></span>
                            <span class="bold">Discount: <a href="#" class="text4">useruser@gmail.com</a></span>
                            <span class="bold hidden_on_tablet">Discount: <span class="text5">0 %</span><span
                                    class="text6"> [Up to 15%]</span></span>
                        </div>
                        <span class="bold hidden_on_pc">Discount: <span class="text5">0 %</span><span class="text6"> [Up to 15%]</span></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="order.html" class="btn-back">back</a>
            </div>
            <div class="row">
                <h3 class="table_title d-flex justify-content-start align-items-center">
                    Order details
                </h3>
            </div>
            <div class="row">
                <div class="details_content d-flex justify-content-between flex-row">
                    <div class="part1 d-flex justify-content-around flex-column">
                        <ul class="items">
                            <li class="item" >Order ID</li>
                            <li class="item" >Subject</li>
                            <li class="item" >Topic</li>
                            <li class="item" >Type of assignment</li>
                            <li class="item" >Urgency</li>
                            <li class="item" >Writer level</li>
                            <li class="item" >Style</li>
                            <li class="item" >Sources</li>
                            <li class="item" >Language</li>
                            <li class="item" >Description</li>
                            <li class="item" >Added</li>
                            <li class="item" >Delivery</li>
                            <li class="item" >Free revisions till</li>
                            <li class="item" >Spacing</li>
                            <li class="item" >Page price</li>
                            <li class="item" >Pages</li>
                            <li class="item" >Additional services</li>
                            <li class="item" >Discount</li>
                            <li class="item" >Price</li>
                            <li class="item" >Payment details</li>
                            <li class="item" >Writer ID</li>
                            <li class="item" >Order status</li>
                        </ul>
                    </div>
                    <div class="part2 d-flex justify-content-around flex-column">
                        <ul class="items">
                            <li class="item1" >1133087166 <span class="item1-1"><a href="#">Place an additional order</a></span></li>
                            <li class="item2" ><pre> </pre></li>
                            <li class="item3" >test</li>
                            <li class="item4" >Essay</li>
                            <li class="item5" ><span class="item5-1">11</span>  days</li>
                            <li class="item6" >High School</li>
                            <li class="item7" >APA</li>
                            <li class="item8" >12</li>
                            <li class="item9" >English(U.S.)</li>
                            <li class="item10" >test</li>
                            <li class="item11" >2017.04.27 11:52</li>
                            <li class="item12" ><span class="item12-1">2017.05.08 11:52</span><span class="item12-2"><a href="#">Extend</a></span></li>
                            <li class="item13" >2017.05.10 08:52</li>
                            <li class="item14" >Double spaced</li>
                            <li class="item15" >12.99 $</li>
                            <li class="item16" >1</li>
                            <li class="item17" >a</li>
                            <li class="item18" >0%</li>
                            <li class="item19" >12.99 $</li>
                            <li class="item20" ><pre> </pre></li>
                            <li class="item21" ><pre> </pre></li>
                            <li class="item22" >Payment verification <span class="item22-1"><a href="#">$ Pay now</a></span></li>
                        </ul>
                    </div>
                    </div>
                </div>
            <div class="row">
                <h3 class="table_title d-flex justify-content-start align-items-center">
                    Files
                </h3>
            </div>
            <div class="row">
                <div class="part d-flex justify-content-between flex-row">
                    <span>No files found</span>
                    <div class="btn_read_more">
                        <a href="#" class="read_more">upload file</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="table_title d-flex justify-content-start align-items-center">
                    Message
                </h3>
            </div>
            <div class="row">
                <div class="part d-flex justify-content-between flex-row">
                    <span>No files found</span>
                    <div class="btn_read_more">
                        <a href="#" class="read_more">send message</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>
