<body>
<main class="content404">
    <div class="container-fluid bg404">
        <div class="bg_img"></div>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <a href="#" class="logo"></a>
                </div>
                <div class="col-5">
                    <div class="bg_bullet1"></div>
                </div>
                <div class="col-7">
                    <p class="text"><span class="bold_font">Grats.</span>  You broke it.</p>
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-8 offset-1">
                    <div class="bg_bullet2"></div>
                    <p class="number404">404</p>
                    <div class="col-12">
                        <div class="GoBack_Homepage_btns">
                            <div class="btn-smaller">
                                <a href="#">Go Back</a>
                            </div>
                            <div class="btn-smaller">
                                <a href="#">Homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

