<footer>
    <section>
        <div class="container-fluid cards_plus_socials_bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cards_and_social">
                            <a href="#">
                                <div class="debit_cards"></div>
                            </a>
                            <div class="social">
                                <a href="#">
                                    <div class="socialFace"></div>
                                </a>
                                <a href="#">
                                    <div class="socialTwit"></div>
                                </a>
                                <a href="#">
                                    <div class="socialPint"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid footer">
            <div class="bg_img"></div>
            <div class="container">
                <div class="row footer_row1">
                    <div class="d-none d-md-block col-md-3 col-lg-3 col-xl-2">
                        <p class="text">
                            <a href="#">Site map</a>
                            <a href="#">Free essays</a>
                            <a href="#">Custom Research Papers</a>
                            <a href="#">Custom Term Paper</a>
                            <a href="#"> Writing Service</a>
                            <a href="#">Custom Writing</a>
                            <a href="#">Custom Writing Services</a>
                            <a href="#">Custom Written Essay</a>
                            <a href="#">Do My Essay</a>
                        </p>
                    </div>
                    <div class="d-none d-md-block col-md-2 col-lg-2 col-xl-2">
                        <p class="text">
                            <a href="#"> Do My Paper</a>
                            <a href="#"> Editing Service</a>
                            <a href="#"> Essay Buyarch</a>
                            <a href="#"> Essay Editing</a>
                            <a href="#"> Essay Help</a>
                            <a href="#"> Essay Online</a>
                            <a href="#"> Essay Order</a>
                            <a href="#"> Essay Paper</a>
                            <a href="#"> Essay Papers to Buy</a>
                        </p>
                    </div>
                    <div class="d-none d-md-block col-md-2 col-lg-2 col-xl-2">
                        <p class="text">
                            <a href="#">Essay Service</a>
                            <a href="#">Essay Writer</a>
                            <a href="#">Essay Writing</a>
                            <a href="#">Essay Writing Service</a>
                            <a href="#">Essay Writing Services</a>
                            <a href="#">Essay Writing Online</a>
                            <a href="#">Essays Buy</a>
                            <a href="#">Essays for Sale</a>
                            <a href="#">Essays Order</a>
                        </p>
                    </div>
                    <div class="d-none d-md-block col-md-3 col-lg-3 col-xl-2">
                        <p class="text">
                            <a href="#">Essays to Buy </a>
                            <a href="#">Essays Written</a>
                            <a href="#">Formatting Service</a>
                            <a href="#">Freelance Essay Writing</a>
                            <a href="#">Grant Writing </a>
                            <a href="#">How to Buy an Essay</a>
                            <a href="#">Non - Plagiarized Essay</a>
                            <a href="#">Online Essay</a>
                            <a href="#">Online Research Paper</a>
                        </p>
                    </div>
                    <div class="d-none d-md-block col-md-2 col-lg-2 col-xl-2">
                        <p class="text">
                            <a href="#">Online Term Paper</a>
                            <a href="#">Online Writing</a>
                            <a href="#">Order an Essay</a>
                            <a href="#">Order Custom Essay</a>
                            <a href="#">Order Custom Paper</a>
                            <a href="#">Order Essay</a>
                            <a href="#">Order Essays</a>
                            <a href="#">Original Essay</a>
                            <a href="#">Paper Service</a>
                        </p>
                    </div>
                    <div class="d-none d-xl-block col-xl-2">
                        <p class="text">
                            <a href="#">Paper Writer</a>
                            <a href="#">Paper Writing</a>
                            <a href="#">Paper Writing Service</a>
                            <a href="#">Personal Narrative Essay</a>
                            <a href="#">Academic Essays Writers</a>
                            <a href="#">Buy Cheap Essay</a>
                            <a href="#">Buy Custom</a>
                            <a href="#">Paper Buy Custom </a>
                            <a href="#">Buy Research Paper</a>
                        </p>
                    </div>
                </div>
                <div class="row footer_row2">
                    <div class="d-none d-md-block col-md-12 col-lg-12 col-xl-12">
                        <nav class="footer_menu">
                            <ul class="footer_menu_items ">
                                <li class="footer_menu_item"><a href="#">Business </a></li>
                                <li class="footer_menu_item"><a href="#">Economics</a></li>
                                <li class="footer_menu_item"><a href="#">Informative</a></li>
                                <li class="footer_menu_item"><a href="#">Literature </a></li>
                                <li class="footer_menu_item"><a href="#">Management</a></li>
                                <li class="footer_menu_item"><a href="#">Political</a></li>
                                <li class="footer_menu_item"><a href="#">Psychology</a></li>
                                <li class="footer_menu_item"><a href="#">Research</a></li>
                                <li class="footer_menu_item"><a href="#">Review</a></li>
                                <li class="footer_menu_item"><a href="#">Technology</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row footer_row3">
                    <div class="d-block d-sm-none">
                        <p class="text_mobile"><a href="#">Sample Essays Articles</a></p>
                    </div>
                    <div class="col-12">
                        <p class="text">Terms and Conditions Privacy Policy</p>
                    </div>
                </div>
            </div>
            <div class="more_info_button"><a href="#"></a></div>
        </div>
    </section>
</footer>
<script src="js/main.js"></script>
</body>
</html>
