<footer>
    <!--<section></section>-->
    <!--<div class="footer">-->
    <!--<div class="container-fluid">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-md-4 col-sm-12 col-xs-12">-->
    <!--<i class="fa fa-thumb-tack hidden-xs hidden-sm" aria-hidden="true"></i>-->
    <!--<span class="address hidden-xs hidden-sm">Weston Pointe II, 2200 N. Commerce Parkway, Weston, Florida, 33326</span>-->
    <!--<i class="fa fa-phone hidden-xs hidden-sm" aria-hidden="true"></i>-->
    <!--<span class="tel hidden-xs hidden-sm">+1(754) 989 0251</span>-->
    <!--<i class="fa fa-envelope hidden-xs hidden-sm" aria-hidden="true"></i>-->
    <!--<span class="email hidden-xs hidden-sm">support@123helpme.org</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
</footer>
<!--<script src="js/main.js"></script>-->
</body>
</html>
