<header>
    <div class="container-fluid head_top">
        <div class="bg_girl"></div>
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block d-lg-block col-lg-7 col-xl-7">
                    <a href="#" class="logo"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                    <h1 class="main_title">things go better with us!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="offer">
                        <h3 class="offer_title">what we offer you:</h3>
                        <ul class="offer_items">
                            <li class="offer_item"><span>A dedicated writer who is qualified in your field</span>
                            </li>
                            <li class="offer_item"><span>Your subject matter analyzed, researched, referenced and written as
                                you instruct</span>
                            </li>
                            <li class="offer_item"><span>Papers tested for plagiarism using systems such as Copyscape plus a
                                validation report</span>
                            </li>
                            <li class="offer_item"><span>A flawless end product in terms of style and grammar</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid head_down">
        <div class="container">
            <div class="row">
                <div class="btns_order_and_group">
                <div class="col-12 col-lg-7 col-xl-6 block">
                    <div class="group_of_btns">
                        <a href="#" class="btn-small change_color">Essays & Research Papers</a>
                        <a href="#" class="btn-small change_color">Dissertations & Thesess</a>
                    </div>
                    <div class="group_of_btns">
                        <a href="#" class="btn-small change_color">Resumes & CVs</a>
                        <a href="#" class="btn-small change_color">Editing & Proofreading</a>
                    </div>
                </div>
                    <div class="btn_item">
                        <a href="#" class="order">order now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>