<body>
<main class="home_content">
    <div class="container-fluid bg">
        <div class="container">
            <div class="row">
                <div class="home_nav d-flex justify-content-between flex-row">
                    <div class="welcome_user">
                        <p class="text">Welcome, User Test</p>
                    </div>
                    <div class="nav">
                        <ul class="items flex-row">
                            <li class="item"><a href="#">My Orders</a></li>
                            <li class="item"><a href="#">my account</a></li>
                            <li class="item"><a href="#">referral program</a></li>
                            <li class="item"><a href="#">LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="home_info d-flex justify-content-between flex-row">
                    <span class="bold">Account type: <span class="text1">standard</span></span>
                    <span class="bold">New message: <span class="text2">1</span></span>
                    <span class="bold">Bonus points: <span class="text3">0 $</span></span>
                    <span class="bold">Discount: <a href="#" class="text4">useruser@gmail.com</a></span>
                    <span class="bold">Discount: <span class="text5">0 %</span></span>
                </div>
            </div>
            <div class="row">
                <h3 class="table_title d-flex justify-content-start align-items-center">
                    New messages
                </h3>
            </div>
            <div class="row">
                <table class="home_table table1">
                    <tbody>
                    <tr>
                        <th>Order ID</th>
                        <th>Title / topic</th>
                        <th>Messages / new messages</th>
                    </tr>
                    <tr class="light">
                        <td>6176835139</td>
                        <td>test</td>
                        <td>2 / <span>2</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3 class="table_title d-flex justify-content-start align-items-center">
                    processing orders
                </h3>
            </div>
            <div class="row">
                <table class="home_table table2">
                    <tbody>
                    <tr>
                        <th>Date</th>
                        <th>Order ID</th>
                        <th>Title / topic</th>
                        <th>Status</th>
                    </tr>
                    <tr class="light">
                        <td>2017.04.27</td>
                        <td>2123344432</td>
                        <td>test</td>
                        <td>Payment verification</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="home_info m-0 d-flex justify-content-between flex-row">
                    <span class="item1"><a href="#">Order details</a></span>
                    <span class="item2"><a href="#">Files (0)</a></span>
                    <span class="item3"><a href="#">Messages (0/0)</a></span>
                    <span class="item4"><a href="about_us_and_faq.html">Contact us</a></span>
                    <span class="item5"><a href="#">$  Pay now</a></span>
                    <span class="item6"><a href="#">Delete order</a></span>
                  <span class="item7"><a href="#">Additional order</a></span>
                </div>
            </div>
            <div class="row">
                <table class="home_table table3">
                    <tbody>
                    <tr>
                        <th>Date</th>
                        <th>Order ID</th>
                        <th>Title / topic</th>
                        <th>Status</th>
                    </tr>
                    <tr class="light">
                        <td>2017.04.27</td>
                        <td>2123344432</td>
                        <td>test</td>
                        <td>Payment verification</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="home_info no_border m-0 d-flex justify-content-between flex-row">
                    <span class="item1"><a href="#">Order details</a></span>
                    <span class="item2"><a href="#">Files (0)</a></span>
                    <span class="item3"><a href="#">Messages (0/0)</a></span>
                    <span class="item4"><a href="about_us_and_faq.html">Contact us</a></span>
                    <span class="item7"><a href="#">Additional order</a></span>
                    <span class="item8"></span>
                </div>
            </div>
            <div class="row">
                <h3 class="table_title d-flex justify-content-start align-items-center">
                    completed orders
                </h3>
            </div>
            <div class="row">
                <table class="home_table table2">
                    <tbody>
                    <tr>
                        <th>Date</th>
                        <th>Order ID</th>
                        <th>Title / topic</th>
                        <th>Status</th>
                        <th>Rate this order</th>
                    </tr>
                    <tr class="light">
                        <td>2017.04.27</td>
                        <td>2123344432</td>
                        <td>test</td>
                        <td>Payment verification</td>
                        <td class="stars"> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pb-5">
                <div class="home_info no_border m-0 d-flex justify-content-between flex-row">
                    <span class="item1"><a href="#">Order details</a></span>
                    <span class="item2"><a href="#">Files (0)</a></span>
                    <span class="item3"><a href="#">Messages (0/0)</a></span>
                    <span class="item4"><a href="about_us_and_faq.html">Contact us</a></span>
                    <span class="item5-1"><a href="#">Revision</a></span>
                    <span class="item6-1"><a href="#">Feedback</a></span>
                    <span class="item7"><a href="#">Additional order</a></span>
                </div>
            </div>
        </div>
    </div>
</main>
