<body>
<main class="main_content">
    <header>
        <div class="container-fluid head">
            <div class="bg_girl"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <a href="#" class="logo"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <h1 class="main_title">things go better with us!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="offer">
                            <h3 class="offer_title">what we offer you:</h3>
                            <ul class="offer_items">
                                <li class="offer_item"><span>A dedicated writer who is qualified in your field</span>
                                </li>
                                <li class="offer_item"><span>Your subject matter analyzed, researched, referenced and written as
                                you instruct</span>
                                </li>
                                <li class="offer_item"><span>Papers tested for plagiarism using systems such as Copyscape plus a
                                validation report</span>
                                </li>
                                <li class="offer_item"><span>A flawless end product in terms of style and grammar</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="group_of_btns">
                            <a href="#" class="btn-small">Essays & Research Papers</a>
                            <a href="#" class="btn-small">Dissertations & Thesess</a>
                        </div>
                        <div class="group_of_btns">
                            <a href="#" class="btn-small">Resumes & CVs</a>
                            <a href="#" class="btn-small">Editing & Proofreading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid get_a_price">
            <div class="bg_img"></div>
            <div class="container">
                <div class="row line_1">
                    <div class="col-lg-12">
                        <div class="title_plus_percent">
                            <h2>Get a price quote</h2>
                            <div class="percent_part">
                                <span class="red_number">15%</span>
                                <span class="red_text">off</span>
                                <span class="text">your first order</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row line_2">
                    <div class="col-lg-12">
                        <form class="default_form">
                            <div class="order_item">
                                <label>title of your paper</label>
                                <select name="type" id="type_id">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="order_item">
                                <label>academic level</label>
                                <select name="academic_level" id="academic_level_id">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="order_item">
                                <label>spacing</label>
                                <select name="spacing" id="spacing_id">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row line_3">
                    <div class="col-lg-12">
                        <form class="default_form">
                            <div class="order_item">
                                <label>urgency</label>
                                <select name="urgency" id="urgency_id">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="text_items">
                                <span class="text_item1">Total price</span>
                                <span class="text_item2">16.99<span class="text_item3">usd</span></span>
                            </div>
                            <div class="btn_item">
                                <a href="#" class="order">order now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_img"></div>
        <div class="container-fluid time-consuming">
            <div class="bg_img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="main_title">Essay writing is challenging, difficult and time-consuming</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text">Are students overseas concerned about different research papers writing?
                            Certainly yes! It is often much harder for them to keep up with written essay assignments,
                            especially at higher level education. Though they may study hard, but they may still be
                            disappointed with the grades they get for their coursework. The recipe for success is to
                            create a genuinely good research paper with a unique angle. When this is strengthened with
                            good editing and a plagiarism test, you have an opportunity to get a grade winning essay.
                            If you are thinking you can't write your essay well enough and you need professional
                            assistance, then you are thinking along the right lines. When your tutors read the essay we
                            provide, they will love it. They will think you wrote it and they will admire the way it is
                            written, so you are likely to get an A grade.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="part">
                            <div class="block">
                                <div class="standards"></div>
                                <h4 class="title">All your standards will be meet</h4>
                                <p class="text">These days, on a monthly basis, countless students buy essays from
                                    professional writing service providers. And, guess what? This is no big surprise.
                                    There
                                    are many students who aren't very skilled at writing and cannot produce
                                    good-quality,
                                    accurately referenced and perfectly edited custom papers on their own.</p>
                            </div>
                            <div class="btn_read_more">
                                <a href="#" class="read_more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="part">
                            <div class="block">
                                <div class="for_students"></div>
                                <h4 class="title">Our professional writers can make all the difference for students</h4>
                                <p class="text"> As a market-leading provider of essay help, we have unquestionable
                                    experience and a well-established reputation in our field. Our main objective is to
                                    lend
                                    our assistance to students all around the globe so that they may succeed in their
                                    academic endeavors and in every aspect of their lives. If you buy your papers from
                                    us
                                    online, you will be able to manage your busy schedule better and devote more time to
                                    friends and family or use it for other more pressing matters, whether they are
                                    personal
                                    or business-related.</p>
                            </div>
                            <div class="btn_read_more">
                                <a href="#" class="read_more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="part">
                            <div class="block">
                                <div class="partner"></div>
                                <h4 class="title">Five good reasons to partner BestWritingHelp.org</h4>
                                <p class="text">All said, there are five good reasons that make us the best and most
                                    professional service provider with over 90% of our customers placing repeat
                                    orders.</p>
                                <ul class="text_items">
                                    <li class="text_item">Original content: All papers are fully free of plagiarism</li>
                                    <li class="text_item">Punctuality: With over 2000 writers, all papers are delivered
                                        on
                                        time
                                    </li>
                                    <li class="text_item">Legitimate ordering process: We use trustworthy billing
                                        methods
                                        e.g. Payoneer, PayPal and similar
                                    </li>
                                </ul>
                            </div>
                            <div class="btn_read_more">
                                <a href="#" class="read_more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="part">
                            <div class="block">
                                <div class="solution"></div>
                                <h4 class="title">There is a solution if you buy essays from us</h4>
                                <p class="text">It may surprise you to learn that one in four students use the services
                                    of
                                    custom writing companies. It is entirely reasonable to look for essay help from
                                    experts
                                    when you have an overly complex assignment. If you do, you will:</p>
                                <ul class="text_items">
                                    <li class="text_item">Gain some free time for yourself</li>
                                    <li class="text_item">Get improved grades</li>
                                    <li class="text_item">Be equal to the best students on your course</li>
                                    <li class="text_item">Win the admiration of your tutors</li>
                                </ul>
                            </div>
                            <div class="btn_read_more">
                                <a href="#" class="read_more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

