<main class="order_now">
    <div class="container-fluid main_content">
        <div class="bg_img"></div>
        <div class="container">
            <div class="row">
                <h2 class="title">Order now!</h2>
                <div class="contact_form">
                    <h3 class="title">Contact form</h3>
                    <div class="row part1">
                        <label class="with_after_el">First name</label>
                        <input class="name" required="" type="text" placeholder="">
                        <label class="with_after_el">Last name</label>
                        <input class="name" required="" type="text" placeholder="">
                        <label class="with_after_el no_marg">E-Mail</label>
                        <div class="one_line">
                            <input type="checkbox" name="Email" id="Email">
                            <label for="Email">Email me about custom writing service and other product related
                                updates</label>
                        </div>
                        <input class="email" required="" type="email" placeholder="">
                        <label class="with_after_el no_marg">Telephone number</label>
                        <div class="one_line">
                            <input type="checkbox" name="agree" id="agree">
                            <label for="agree">I agree to receive phone calls from you at night in case of
                                emergency</label>
                        </div>
                        <input class="telephone" required="" type="tel" placeholder="">
                        <label>Mobile/cell number</label>
                        <input class="telephone" required="" type="tel" placeholder="">
                    </div>
                    <div class="row part2">
                        <div class="default_form">
                            <div class="order_item">
                                <label>Country code</label>
                                <select name="country">
                                    <option value="0">USA - 1</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_form">
                    <h3 class="title">Order details</h3>
                    <div class="row part1">
                        <label class="with_after_el">Title of your paper</label>
                        <input class="name" required="" type="text" placeholder="">
                        <div class="default_form">
                            <div class="order_item">
                                <label class="with_after_el">Style</label>
                                <select name="">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="order_item">
                                <label class="with_after_el">Type of work</label>
                                <select name="">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="order_item">
                                <label class="with_after_el">Urgency</label>
                                <select name="">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="order_item">
                                <label class="with_after_el">Level</label>
                                <select name="">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="order_item">
                                <label class="with_after_el">Number of pages</label>
                                <select name="">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                            <div class="order_item">
                                <label class="with_after_el">Spacing</label>
                                <select name="">
                                    <option value="0">First</option>
                                    <option value="1">Second</option>
                                    <option value="2">Third</option>
                                    <option value="3">Special option</option>
                                </select>
                            </div>
                        </div>
                        <label class="with_after_el">Number of sources</label>
                        <input class="name" required="" type="text" placeholder="">
                    </div>
                    <div class="row part2">
                        <label class="comment_lbl">Your paper instructions</label>
                        <textarea class="comment" name="comment" cols="30" rows="" placeholder=""></textarea>
                        <div class="radio_btns">
                            <input type="radio" name="US writer" value="">
                            <lable> US writer</lable>
                            <input type="radio" name="UK writer (+5% order price)" value="">
                            <lable> UK writer (+5% order price)</lable>
                        </div>
                        <div class="one_line">
                            <input type="checkbox" name="value" id="lable_1">
                            <label for="lable_1"><span>21.99 USD</span> 1-page summary of your paper</label>
                        </div>
                        <div class="one_line">
                            <input type="checkbox" name="value" id="lable_2">
                            <label for="lable_2"><span>6.00 USD</span> Draft of your paper</label>
                        </div>
                        <div class="one_line">
                            <input type="checkbox" name="value" id="lable_3">
                            <label for="lable_3"><span>3.60 USD</span> Extended revision</label>
                        </div>
                    </div>
                    <div class="row part3">
                        <div class="last_inputs">
                            <div class="discount_code">
                                <label class="with_after_el">First name</label>
                                <input class="name" required="" type="text" placeholder="">
                                <div class="btn_item">
                                    <a href="#" class="order">Apply discount</a>
                                </div>
                            </div>
                            <div class="id">
                                <label class="with_after_el">First name</label>
                                <input class="name" required="" type="text" placeholder="">
                                <div class="btn_item">
                                    <a href="#" class="order upper">Add writer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="red_text">
                            If your order is written by a preferred writer you will be charged additional +15%. This
                            additional payment will go directly to the writer. It will ensure the highest priority of
                            your order among others.
                        </p>
                        <div class="one_line accept">
                            <input type="checkbox" name="accept" id="accept">
                            <label for="accept">I accept <span>Terms And Conditions</span> and the
                                <span>Privacy Policy</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="vip">
                    <h3 class="title">Vip offer</h3>
                    <div class="vip_part">
                        <div class="img"></div>
                        <div class="text">
                            <span>Get order prepared by top 10 writers</span>
                            <span>Get VIP support</span>
                            <span>Get order Proofread by editor</span>
                            <span>VIP SERVICE PACKAGE</span>
                        </div>
                        <div class="dollars">
                            <span>9.00 USD</span>
                            <span>9.99 USD</span>
                            <span>2.60 USD</span>
                            <span>12.95 USD</span>
                        </div>
                        <div class="mini_btns">
                            <a href="#">Add</a>
                            <a href="#">Add</a>
                            <a href="#">Add</a>
                            <a href="#">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="total">
                    <div class="default_form">
                        <div class="order_item">
                            <select name="USD">
                                <option value="0">USD</option>
                                <option value="1">Second</option>
                                <option value="2">Third</option>
                                <option value="3">Special option</option>
                            </select>
                        </div>
                    </div>
                    <div class="text_and_number">
                        <span class="text1">total</span>
                        <span class="number">11.99<span class="usd"> usd</span></span>
                    </div>
                    <div class="btn_item">
                        <a href="details.html" class="order">PREVIEW MY ORDER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
