/*BG Colors*/
$color-primary: #013056;//footer,header
$color-primary-1: #f4f6fa;
$color-secondary: #1b7fd0;//main nav menu bg
$color-third: #075da2;
$color-third-1: #ffffff; // in form bg
$color-third-2:#fbfdff;//around form bg
$color-third-3:#e9f7fe;//active form bg
$color-third-4:#fde8e9;//input without data
$color-third-5:#f83e3f;//input without data border 1 px solid
$color-third-6:#caddea;

/*Text Colors*/
$font-color-1: #ffffff;
$font-color-2: #caddea;//sales&support, footer text
$font-color-3: #1b7fd0;//read-more(text hover),send mes.(text hover),h1,h2,h3,h4
$font-color-4: #000000;//text
$font-color-5: #2e3847;//input text
$font-color-6: #013056;// form text
$font-color-7: #dd0000;
$font-color-8: #e9f7fe;//some text (tag p)
$font-color-9: #56b1fa;//text on page index404
$font-color-10: #01223c;//number404
$font-color-11: #a6cae3;//date
$font-color-12: #9ea4ac;

/*Buttons Color*/
$color-btn-1: #dd0000;//order now
$color-btn-1-hover: #a40000;//order now
$color-btn-2: #075da2;//read-more, burger
$color-btn-2-hover: #caddea;//read-more, send mes., nav main menu, burger
$color-btn-3: #1b7fd0;//send-mes., live chat + login(hover)
$color-btn-3-hover: #ffffff;
$color-btn-4: #0983e5;// read more

