@import "fonts.scss";

h1,h2,h3,h4{
  text-transform: uppercase;
}

h2{
  @include font(28px,$font-color-3,700,$font-bold);
  margin: 0;
}

h3{
  @include font(21px,$font-color-4,500,$font-medium);
}
h4{
  @include font(18px,$font-color-3,700,$font-medium);
}

p{
  @include font(18px,$font-color-4,400,$font-arial);
  line-height: 22px;
}

a{
  text-decoration: none;
}


